
/** Menu Drop Down **/


div.asui-menu-dropdown {
    background-color: #bdc3c7;
    /* display: inline-block; */
    z-index: 3;
    position: absolute;
    left: 100%;
    top: 0;
    border: 1px solid grey;
    text-align: left;
    transition: opacity 0.2s;
}

div.asui-menu-dropdown > div > div.asui-menu-item {
    padding: 4px;
    /*border: 1px outset #AAA;*/
}
div.asui-menu-dropdown > div.selected {
    background-color: #AAA;
}

div.asui-menu-dropdown > div > div.asui-menu-item:hover {
    z-index: 5;
}


div.asui-menu-dropdown.stick {
    border: 2px solid black;
    /*background-color: #9ba0a3;*/
}
div.asui-menu-dropdown:hover {
    z-index: 4;
}

div.asui-menu-dropdown.vertical {
    left: 0;
    top: 100%;
}

