/** Host Element **/

:host {
    display: inline-block;
}

/** Full Screen **/
:host(.fullscreen) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}




/** Font styles **/

span.error {
    font-color: red;
    font-weight: bold;
}


/** Font Style **/
asui-div[key=asc-container] {
    font-family: monospace;
    /* font-size: 24px; */
    color: #000;
    background-color: #bdc3c7;
    /* margin-top: -14px; */
    user-select: none;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

/** Status Bar **/
asui-div[key=asc-status-container] {
    display: flex;
    background-color: #FFF;
    color: #000;
    padding: 0px;
}


asui-div[key=asc-status-container] asui-div[key=status-text]{
    padding-left: 4px;
}
asui-div[key=asc-status-container] asui-div[key=version-text] {
    /* float: right; */
    padding-right: 4px;
    margin-left: auto;
}


/** Tracker **/

asui-div[key=asc-tracker-container] {
    flex: 1 1 auto;
}
:host(.fullscreen) asui-div[key=asc-container] {
    height: 100%;
}





/** Context Menu **/
asui-menu[key=context].open-context-menu {
    display: block;
    position: fixed;
    z-index: 99;
    transition: all 0s;
}
asui-menu[key=context].open-context-menu:not(.open) {
    display: none;
}










/** Editor Panels **/

asc-panel {
    vertical-align: top;
    display: inline-block;
    margin: 1px 3px 0px 1px;
}

.asc-panel-caption,
asc-panel > asui-div[key=caption] {
    /* display: inline-block; */
    background-color: #333;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 2px 6px 0px 6px;
    margin: 0;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #BBB;
}


/** Song Forms **/

asc-instrument,
asc-form {
    background: #DDD;
    border: 1px outset #FFF;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    vertical-align: top;
}
asc-instrument > asui-div[key=caption],
asc-form > asui-div[key=caption] {
    font-size: smaller;
    border-bottom: 1px solid #BBB;
    margin-bottom: 1px;
    cursor: pointer;
    padding: 1px 3px;
}

asc-form[key=volume]       asui-input-range[key=volume]    input       { max-width: 71px; }
asc-form[key=version]      asui-input-text[key=version]    input       {max-width: 53px;}
asc-form[key=name]         asui-input-text[key=name]       input       { max-width: 160px; }
asc-form[key=timing]       asui-input-text[key=timing]     input       { max-width: 77px; }
asc-form[key=position]     asui-input-range[key=position]   input       { max-width: 77px; }
asc-form[key=bpm]          asui-input-text[key=bpm]        input       {max-width: 43px;}



/** Instruction Form **/

asc-form[key=instruction-command]      asui-input-select[key=command]       select      {width: 72px;}
asc-form[key=instruction-velocity]     asui-input-range[key=velocity]       input       { width: 64px; }
asc-form[key=instruction-duration]     asui-input-select[key=duration]      select      {width: 42px;}

asc-form[key=instruction-instrument]   asui-input-select[key=instrument]    select      {width: 83px;}

/** Tracker Render Forms **/

asc-form[key=tracker-row-length]       asui-input-select[key=row-length]        select      {width: 42px;}
asc-form[key=tracker-segment-length]   asui-input-select[key=segment-length]    select      {width: 44px;}
asc-form[key=tracker-instrument]       asui-input-select[key=filter-instrument] select      {width: 72px;}
asc-form[key=tracker-selection]        asui-input-text[key=selection]           input       {width: 84px;}
asc-form[key=tracker-octave]           asui-input-select[key=octave]            select      {width: 36px;}
asc-form[key=tracker-octave]           asui-input-select[key=octave]            select      {width: 36px;}


/** Instrument Form **/

asui-div[key=instruments]  asui-input-select[key=instrument-add-url]       select      { width: 120px; }
asui-div[key=instruments]  asui-input-select[key=instrument-preset]       select      { width: 120px; }

/** Add Instrument Form **/

/*asui-div[key=asc-container]  form.asc-form-song-add-instrument                                    {!* height: 54px; *!}*/
/*asui-div[key=asc-container]  form.asc-form-song-add-instrument select[name=instrumentURL]            {min-width: 129px;!* padding: 1em; *!}*/


/*@media only screen and (min-width: 1000px) {*/
/*    asui-div[key=asc-container] .asc-form-section-divide {*/
/*        width: 12px;*/
/*        writing-mode: vertical-rl;*/
/*        padding: 10px 2px 6px 2px;*/
/*    }*/
/*    asui-div {*/
/*        min-height: 55px;*/
/*    }*/
/*}*/


/** Editor Instrument Containers **/
asc-instrument {
}

/** Add Instrument Form **/

/*asc-instrument  form.asc-form-song-add-instrument                                    {!* height: 54px; *!}*/
/*asc-instrument  form.asc-form-song-add-instrument select[name=instrumentURL]            {min-width: 129px;!* padding: 1em; *!}*/





/** Visibility **/

:host(:not(.playing)) .show-on-playing,
:host(.playing) .hide-on-playing,
asui-div[key=asc-container].hide-panel-song asui-div[key=song],
asui-div[key=asc-container].hide-panel-tracker asui-div[key=instruction],
asui-div[key=asc-container].hide-panel-tracker asui-div[key=tracker],
asui-div[key=asc-container].hide-panel-tracker asui-div[key=tracker-row-segments],
asui-div[key=asc-container].hide-panel-instruments asui-div[key=instruments] {
    display: none;
}




/** Editor Tracker **/



/** Tracker **/
asc-tracker {
    position: relative;
    /* height: 100%; */
    /*overflow: auto;*/
    display: block;
}


asui-div[key=asc-container]:not(.fullscreen) asc-tracker {
    /* max-height: 700px; */
    /* margin-bottom: auto; */
}
asui-div[key=asc-container].fullscreen asc-tracker {
    /*height: 700px;*/
}

/** Tracker Header **/

asc-tracker .tracker-header {
    min-width: 126px;
}
asc-tracker .tracker-header-pause {
    text-align: center;
    min-width: 44px;
}

/** Tracker Row Segments/Groups **/

asc-panel[key=tracker-groups] button.themed,
asc-panel[key=tracker-row-segments] button.themed {
    border: 1px outset #FFF;
    padding: 4px 12px;
    background-color: #DDD;
}

asc-panel[key=tracker-groups] > asui-input-button[selected] > button.themed,
asc-panel[key=tracker-row-segments] > asui-input-button[selected] > button.themed {
    font-weight: bold;
    background-color: #BBB;
    border-style: inset;
}

/** Tracker Header **/
asc-tracker asui-div[key=tracker-header] {
    /*background-color: #333;*/
    /*color: #FFF;*/
}
asc-tracker asui-div[key=tracker-header] > asui-div[key=delta] {
    float: left;
    /* padding: 2px; */
}
asc-tracker asui-div[key=tracker-header] > asui-div[key=instructions] {
    display: block;
    /* padding: 2px; */
    text-align: center;
}

/** Tracker Row **/

asc-tracker asui-div[key=tracker-row-container] {
    overflow-y: auto;
    max-height: 800px;
}

asct-row {
    display: flex;
    cursor: pointer;
    background-color: #C0C0C0;
    height: 1.45em;
    position: relative;
    border: 1px outset #FFF;
    padding: 0px;
}

asct-row.beat-end {
    border-top: 1px solid #888;
}
asct-row.measure-end {
    border-top: 1px solid #000;
}
asct-row:nth-child(odd) {
    background-color: #D0D0D0;
}

asct-row.cursor,
asct-row.selected {
    background-color: #ffeedd;
    position: relative;
    box-shadow: #ffeedd 0px 0px 9px;
    z-index: 2;
}
asct-row.position,
asct-row.playing {
    background-color: #609060;
    position: relative;
    box-shadow: #AFA 0px 0px 4px;
    z-index: 1;
}

/** Tracker Row Delta **/

asct-delta {
    padding: 2px;
    color: #500;
    margin-right: 4px;
    width: 36px;
    text-align: right;
}


/** Tracker Cell **/

asct-instruction-add,
asct-instruction {
    display: flex;
    overflow: hidden;
    padding: 1px;
    margin: 0;
    color: #666;
    border: solid 1px #666;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
}

asct-instruction-add {
    /*transition: opacity 0.25s;*/
    padding: 1px 4px;
}

asct-instruction:last-child {
    margin-right: 0;
}


asct-instruction-add,
asct-instruction[cursor],
asct-instruction[selected] {
    background-color: white;
    font-weight: bold;
    max-width: 1000px;
    box-shadow: #6b6b6b 0 0px 3px;
    z-index: 2;
}

asct-instruction-add[cursor],
asct-instruction[cursor] {
    border-color: red;
    box-shadow: darkred 0 0 12px;
}


asct-instruction-add[cursor],
asct-instruction[selecting],
asct-instruction[selected] {
}

asct-instruction.playing {
    font-weight: bold;
    background-color: #80d55c;
}


/** Tracker Cell Parameters **/

ascti-instrument,
ascti-velocity,
ascti-duration {
    overflow: hidden;
    border-left: 1px solid #888;
    animation: slide-open 1s;
}

@keyframes slide-open {
    0% { max-width: 0px; }
    100% { max-width: 99px; }
}

ascti-command {
    color: darkred;
}
ascti-instrument {
    color: darkblue;
}
ascti-duration {
    color: purple;
}
ascti-velocity {
    color: green;
}

ascti-command,
ascti-instrument,
ascti-velocity,
ascti-duration {
    overflow: hidden;
    padding: 0px 2px;
}



asc-tracker > div.selection-rect {
    z-index: 99;
    position: fixed;
    border: 1px outset #00F;
    border-radius: 4px;
    background-color: #00F4;
    box-shadow:  1px 1px 4px #777;
}

/** Instruments **/


