/*!** Host Element **!*/

/*:host {*/
/*    display: inline-block;*/
/*}*/

/*!** Full Screen **!*/
/*:host(.fullscreen) {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/




/*!** Font styles **!*/

/*:host input, select, button,*/
/*:host {*/
/*    font-size: 12px;*/
/*    font-family: 'Advent Pro', monospace;*/
/*}*/

/*span.error {*/
/*    font-color: red;*/
/*    font-weight: bold;*/
/*}*/

div.asc-container input,
div.asc-container button,
div.asc-container {
    font-size: large;
}




/** Context Menu **/
asui-menu.context.open-context-menu {
    display: block;
    position: fixed;
    z-index: 99;
    transition: all 0s;
}
asui-menu.context.open-context-menu:not(.open) {
    display: none;
}










/** Editor Panels **/

asc-tracker,
asc-panel {
    vertical-align: top;
    display: inline-block;
    margin: 1px 3px 0px 1px;
}

asc-tracker > asui-div[key=title],
asc-panel > asui-div[key=title] {
    /* display: inline-block; */
    background-color: #333;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 2px 6px 0px 6px;
    margin: 0;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #BBB;
}


/** Song Forms **/

asc-instrument,
asc-form {
    background: #DDD;
    border: 1px outset #FFF;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    vertical-align: top;
    /*min-height: 33px;*/
}
asc-instrument > asui-div.title,
asc-form > asui-div.title {
    font-size: smaller;
    height: 9px;
    color: #666;
    border-bottom: 1px solid #BBB;
    margin-bottom: 1px;
    cursor: pointer;
    padding: 1px 3px;
}

asc-form[key=volume]       asui-input-range.volume    input       { max-width: 71px; }
asc-form[key=version]      asui-input-text.version    input       {max-width: 53px;}
asc-form[key=name]         asui-input-text.name       input       { max-width: 160px; }
asc-form[key=timing]       asui-input-text.timing     input       { max-width: 77px; }
asc-form[key=position]     asui-input-range.position   input       { max-width: 77px; }
asc-form[key=bpm]          asui-input-text.bpm        input       {max-width: 43px;}



/** Instruction Form **/

asc-form[key=instruction-command]      asui-input-select.command       select      {width: 72px;}
asc-form[key=instruction-velocity]     asui-input-range.velocity       input       { width: 64px; }
asc-form[key=instruction-duration]     asui-input-select.duration      select      {width: 42px;}

asc-form[key=instruction-instrument]   asui-input-select.instrument    select      {width: 83px;}

/** Tracker Render Forms **/

asc-form[key=tracker-row-length]       asui-input-select.row-length        select      {width: 42px;}
asc-form[key=tracker-segment-length]  asui-input-select.segment-length    select      {width: 44px;}
asc-form[key=tracker-instrument]       asui-input-select.filter-instrument select      {width: 72px;}
asc-form[key=tracker-selection]        asui-input-text.selection           input       {width: 99px;}
asc-form[key=tracker-octave]           asui-input-select.octave            select      {width: 36px;}
asc-form[key=tracker-octave]           asui-input-select.octave            select      {width: 36px;}


/** Instrument Form **/

asui-div[key=instruments]  asui-input-select.instrument-add-url       select      { width: 120px; }
asui-div[key=instruments]  asui-input-select.instrument-preset       select      { width: 120px; }

/** Add instrument Form **/

/*asui-div.asc-container  form.asc-form-song-add-instrument                                    {!* height: 54px; *!}*/
/*asui-div.asc-container  form.asc-form-song-add-instrument select.instrumentURL            {min-width: 129px;!* padding: 1em; *!}*/


/*@media only screen and (min-width: 1000px) {*/
/*    asui-div.asc-container .asc-form-section-divide {*/
/*        width: 12px;*/
/*        writing-mode: vertical-rl;*/
/*        padding: 10px 2px 6px 2px;*/
/*    }*/
/*    asui-div {*/
/*        min-height: 55px;*/
/*    }*/
/*}*/

