[submodule "samples"]
	path = samples
	url = https://github.com/clevertree/audio-source-samples.git
[submodule "3rdparty/chip-player-js-lib"]
	path = 3rdparty/chip-player-js-lib
	url = https://github.com/clevertree/chip-player-js-lib.git
