[submodule "assets/3rdparty"]
	path = assets/3rdparty
	url = https://github.com/clevertree/audio-source-3rdparty.git
[submodule "sample"]
	path = sample
	url = https://github.com/clevertree/audio-source-samples.git
