

div.audio-source-synthesizer-container > div.samples > div.header {
    display: flex;
    flex-direction: row;

    /*justify-content: space-between;*/
    /* font-weight: bold; */
    text-align: center;
    /* text-decoration: underline; */
    border-bottom: 1px solid #BBB;
}

div.audio-source-synthesizer-container > div.samples > div.header > div{
    flex-direction: column;
    flex: 1;
}



/** Sample Grid **/
div.audio-source-synthesizer-container > div.samples {
    display: flex;
    /*min-width: 480px;*/
    text-align: center;
    margin: 5px;
     border-radius: 4px;
    background: #D4D4D4;
}

div.audio-source-synthesizer-container > div.samples > div.sample {
    display: flex;
    padding: 1px;
    margin: 0;
    color: #666;
    border: solid 1px #666;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
}

div.audio-source-synthesizer-container > div.samples > div.sample > div.name {
    max-width: 30vw;
    overflow: hidden;
    transition: max-width 0.5s;
    padding-right: 2px;
}

div.audio-source-synthesizer-container > div.samples > div.sample:not(.open) > div.name {
    max-width: 10vw;
}

div.audio-source-synthesizer-container > div.samples > div.sample > div.name { color: #1E2526; }
div.audio-source-synthesizer-container > div.samples > div.sample > div.root { color: #692a6a; }
div.audio-source-synthesizer-container > div.samples > div.sample > div.loop { color: #980c12; }
div.audio-source-synthesizer-container > div.samples > div.sample > div.range { color: #92303a; }
div.audio-source-synthesizer-container > div.samples > div.sample > div.mixer { color: #2e3a07; }
div.audio-source-synthesizer-container > div.samples > div.sample > div.detune { color: #1e543c; }
div.audio-source-synthesizer-container > div.samples > div.sample > div.alias { color: #385049; }

div.audio-source-synthesizer-container > div.samples > div.sample > div.root,
div.audio-source-synthesizer-container > div.samples > div.sample > div.loop,
div.audio-source-synthesizer-container > div.samples > div.sample > div.range,
div.audio-source-synthesizer-container > div.samples > div.sample > div.mixer,
div.audio-source-synthesizer-container > div.samples > div.sample > div.detune,
div.audio-source-synthesizer-container > div.samples > div.sample > div.alias,
div.audio-source-synthesizer-container > div.samples > div.sample > div.config {
    border-left: 1px solid #888;
    padding-right: 2px;
    padding-left: 2px;
}


div.audio-source-synthesizer-container > div.samples > div.sample > div:hover {
    background: #AAA;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
}
