

div.audio-source-synthesizer-container > div.samples > div.header {
    display: flex;
    flex-direction: row;

    /*justify-content: space-between;*/
    /* font-weight: bold; */
    text-align: center;
    /* text-decoration: underline; */
    border-bottom: 1px solid #BBB;
}

div.audio-source-synthesizer-container > div.samples > div.header > div{
    flex-direction: column;
    flex: 1;
}

/** Inputs **/
div.audio-source-synthesizer-container  asui-input-button.instrument-id   button {
    border: 1px outset;
    padding: 0px 2px;
}

div.audio-source-synthesizer-container  asui-input-select.instrument-preset               {
    margin-left: auto;
}
div.audio-source-synthesizer-container  asui-input-button.instrument-remove               {
    float:  right;
    margin: 0px 0px 0px 0px;
}


div.audio-source-synthesizer-container  asui-input-text.name        input       {width: 90px;}
div.audio-source-synthesizer-container  asui-input-select.url       select      {width: 107px;}
div.audio-source-synthesizer-container  asui-input-range.mixer      input      {width: 40px;}
div.audio-source-synthesizer-container  asui-input-range.detune     input      {width: 40px;}
div.audio-source-synthesizer-container  asui-input-select.root      select      {width: 48px;}
div.audio-source-synthesizer-container  asui-input-select.alias     select      {width: 48px;}
div.audio-source-synthesizer-container  asui-input-text.adsr        input      {width: 60px;}

div.audio-source-synthesizer-container  asui-input-select.instrument-preset       select      { width: 120px; }


/** Sample Grid **/
div.audio-source-synthesizer-container > div.samples {
    display: flex;
    /*min-width: 480px;*/
    text-align: center;
    margin: 5px;
    /*border: 1px solid #AAA;*/
    /* border-radius: 4px; */
    /* border-right: 1px #777 solid; */
    background: #CCCA;
    /* box-shadow: 1px 1px 0px #999; */
}

div.audio-source-synthesizer-container > div.samples > div.sample {
    display: flex;
    padding: 1px;
    margin: 0;
    color: #666;
    border: solid 1px #666;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
}

div.audio-source-synthesizer-container > div.samples > div.sample > div.name {
    padding-right: 2px;
}


div.audio-source-synthesizer-container > div.samples > div.sample > div.root,
div.audio-source-synthesizer-container > div.samples > div.sample > div.loop,
div.audio-source-synthesizer-container > div.samples > div.sample > div.range,
div.audio-source-synthesizer-container > div.samples > div.sample > div.config {
    border-left: 1px solid #888;
    padding-right: 2px;
    padding-left: 2px;
}


div.audio-source-synthesizer-container > div.samples > div.sample > div:hover {
    background: #AAA;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
}
