
/** Song Forms **/

div.asc-form {
    background: #DDD;
    border: 1px outset #FFF;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    vertical-align: top;
}
div.asc-form > div.title {
    font-size: smaller;
    border-bottom: 1px solid #BBB;
    margin-bottom: 1px;
    padding: 0 3px 1px 3px;
    height: 1em;
}

div.asc-form > div.container {
    display: flex;
    min-height: 1.4em;
}

div.asc-form[key=volume]       { max-width: 71px; }
div.asc-form[key=version]      { max-width: 53px; }
div.asc-form[key=name]         { max-width: 160px; }
div.asc-form[key=timing]       { max-width: 77px; }
div.asc-form[key=position]     { max-width: 77px; }
div.asc-form[key=bpm]          { max-width: 43px; }

