
/** Menu Container **/

div.asc-menu-container {
    display: flex;
    flex-direction: row;
}


div.asc-title-container {
    background-color: #888;
}

div.asc-menu-container {
    background-color: #bdc3c7;
}

div.asc-menu-container > div.asui-menuitem {
     padding: 0px 8px 0px 4px;
}

div.asc-title-text {
    text-align: center;
    align-items: center;
    padding-top: 3px;
    font-weight: bold;
    color: #333;
}
