
/** Font styles **/

span.error {
    font-color: red;
    font-weight: bold;
}



/** Container **/
/** Font Style **/
asui-div[key=asp-container] {
    font-family: monospace;
    color: #000;
    background-color: #bdc3c7;
    /* margin-top: -14px; */
    user-select: none;
    display: flex;
    flex-direction: column;
}

/** Status Bar **/
asui-div[key=asp-status-container] {
    display: block;
    background-color: #FFF;
    color: #000;
    padding: 0px;
}


asui-div[key=asp-status-container] asui-div[key=status-text]{
    padding-left: 4px;
}
asui-div[key=asp-status-container] asui-div[key=version-text] {
    float: right;
    padding-right: 4px;
}

asui-div[key=asp-status-container] .version-text:not(:hover) {
    text-decoration: none;
}







/** Editor Panels **/

asui-div.asp-panel {
    vertical-align: top;
    display: inline-block;
    margin: 1px 3px 0px 1px;
    /*width: 100%;*/
}

asui-div.asp-panel > asui-div[key=caption] {
    background-color: #333;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 2px 6px 0px 6px;
    margin: 0;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #BBB;
}

/** Visibility **/

asui-div[key=asp-container].hide-panel-song asui-div[key=asp-panel-song],
asui-div[key=asp-container].hide-panel-playlist asui-div[key=asp-panel-playlist] {
    display: none;
}


/** Song Forms **/

asui-div.asp-form {
    background: #DDD;
    border: 1px outset #FFF;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}
asui-div.asp-form > asui-div[key=caption] {
     font-size: smaller;
     border-bottom: 1px solid #BBB;
     margin-bottom: 1px;
     cursor: pointer;
     padding: 1px 3px;
}


asui-div[key=asp-form-volume]       asui-input-range[key=volume]    input       { max-width: 71px; }
asui-div[key=asp-form-version]      asui-input-text[key=version]    input       { max-width: 53px; }
asui-div[key=asp-form-name]         asui-input-text[key=name]       input       { max-width: 160px; }
asui-div[key=asp-form-position]     asui-input-text[key=position]   input       { max-width: 77px; }
asui-div[key=asp-form-bpm]          asui-input-text[key=bpm]        input       { max-width: 43px; }



/** Playlist **/

asui-div[key=asp-panel-playlist] {
    width: 100%;
    max-width: 815px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

asui-grid[key=asp-playlist-container] {
    width: 100%;
}

asuig-row.asp-playlist-entry > asui-div {
    padding: 4px;
}
asuig-row.asp-playlist-entry {
    /* min-width: 180px; */
    background: #DDD;
    border: 2px outset #FFF;
    /* margin: 9px; */
    cursor: pointer;
    margin: 4px;
    /* border-collapse: initial; */
}

asuig-row.asp-playlist-entry.selected {
    background: #BBB;
}