/** Host Element **/

:host {
    display: inline-block;
}

/** Full Screen **/
:host(.fullscreen) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}






/** Font styles **/

span.error {
    font-color: red;
    font-weight: bold;
}



/** Container **/
/** Font Style **/
asui-div[key=asp-container] {
    font-family: monospace;
    color: #000;
    background-color: #bdc3c7;
    /* margin-top: -14px; */
    user-select: none;
    display: flex;
    flex-direction: column;
}

/** Status Bar **/
asui-div[key=asp-status-container] {
    display: block;
    background-color: #FFF;
    color: #000;
    padding: 0px;
}


asui-div[key=asp-status-container] asui-div[key=status-text]{
    padding-left: 4px;
}
asui-div[key=asp-status-container] asui-div[key=version-text] {
    float: right;
    padding-right: 4px;
}

asui-div[key=asp-status-container] .version-text:not(:hover) {
    text-decoration: none;
}







/** Editor Panels **/

asp-panel {
    vertical-align: top;
    display: inline-block;
    margin: 1px 3px 0px 1px;
    /*width: 100%;*/
}

asp-panel > asui-div[key=caption] {
    background-color: #333;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 2px 6px 0px 6px;
    margin: 0;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #BBB;
}

/** Visibility **/


:host(:not(.playing)) .show-on-playing,
:host(.playing) .hide-on-playing,
:host(.hide-panel-song) asp-panel[key=song],
:host(.hide-panel-playlist) asp-panel[key=playlist] {
    display: none;
}


/** Song Forms **/

asp-form {
    background: #DDD;
    border: 1px outset #FFF;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}
asp-form > asui-div[key=caption] {
    font-size: smaller;
    border-bottom: 1px solid #BBB;
    margin-bottom: 1px;
    cursor: pointer;
    padding: 1px 3px;
}


asp-form[key=volume]       asui-input-range[key=volume]     input       { max-width: 71px; }
asp-form[key=version]      asui-input-text[key=version]     input       { max-width: 53px; }
asp-form[key=name]         asui-input-text[key=name]        input       { max-width: 160px; }
asp-form[key=timing]       asui-input-text[key=timing]      input       { max-width: 77px; }
asp-form[key=position]     asui-input-range[key=position]   input       { max-width: 77px; }
asp-form[key=bpm]          asui-input-text[key=bpm]         input       { max-width: 43px; }



/** Playlist **/

asp-playlist {
    display: inline-block;
    /* width: 100%; */
    /* max-width: 815px; */
}

asui-div[key=asp-playlist-container] {
    width: 100%;
    max-height: 800px;
    overflow-y: overlay;
    overflow-x: hidden;
}


asuig-row.asp-playlist-header,
aspp-playlist-entry,
aspp-entry {
    display: block;
    /* min-width: 180px; */
    background: #DDD;
    border: 1px outset #FFF;
    /* margin: 9px; */
    cursor: pointer;
    margin: 0px;
    /* border-collapse: initial; */
}
asuig-row.asp-playlist-header > asui-div,
aspp-playlist-entry > asui-div,
aspp-entry > asui-div {
     padding: 3px 3px;
}

asp-playlist asui-div[key=id]       { display: inline-block; width: 3em; }
asp-playlist asui-div[key=name]     { display: inline-block; width: 23em; }
asp-playlist asui-div[key=length]   { display: inline-block; width: 4em; }

/*asp-playlist aspp-playlist-entry asui-div[key=id]       { color: #000; }*/
/*asp-playlist aspp-playlist-entry aspp-playlist-entry asui-div[key=id]       { color: #555; }*/

aspp-entry.position {
    background: #9bbdff;
}
aspp-entry.selected {
    background: #AAA;
}


aspp-playlist-entry {
    background: #BCC;
}
