

/** Editor Panels **/

div.asp-panel {
    vertical-align: top;
    display: inline-block;
    margin: 1px 3px 0px 1px;
    /*width: 100%;*/
}

div.asp-panel div.title {
    background-color: #333;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 2px 6px 0px 6px;
    margin: 0;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #BBB;
}
