div.asc-tracks-container {
    display: block;
}

div.audio-source-composer.landscape div.asc-tracks-container {
    display: inline !important;
}


/** Landscape **/

div.audio-source-composer.landscape div.asc-tracks-container > div.asc-track {
    display: inline-block;
    /*display: inline-flex !important;*/
    /*flex-wrap: wrap;*/
}
