
/** ASCTrack Instruction **/

div.asct-instruction-add,
div.asct-instruction {
  display: flex;
  /*overflow: hidden;*/
  padding: 1px;
  margin: 0;
  color: #666;
  border: 1px outset #EEE;
  border-radius: 4px;
  background-color: #CCC;
}

div.asct-instruction-add {
  /*transition: opacity 0.25s;*/
  padding: 1px 4px;
}

div.asct-instruction:last-child {
  margin-right: 0;
}

/*div.asct-instruction-add,*/
div.asct-instruction:active {
  background-color: #EEE;
}

div.asct-instruction.selected {
  background-color: white;
}


div.asc-track.selected div.asct-instruction-add,
div.asc-track.selected div.asct-instruction.selected {
  font-weight: bold;
  /*max-width: 1000px;*/
  box-shadow: #6b6b6b 0 0px 3px;
  /*z-index: 1;*/
}

div.asc-track.selected div.asct-instruction-add,
div.asc-track.selected div.asct-instruction.cursor {
  border-color: red;
  box-shadow: darkred 0 0 4px;
  position: relative;
  /*z-index: 2;*/
}


/** Playing **/
div.asct-instruction.playing {
  font-weight: bold;
  background-color: #80d55c;
}





/** ASCTrack Instruction Parameters **/

div.asct-parameter {
  padding: 0 2px;
}

div.asct-parameter:not(:first-child) {
  position: relative;
  border-left: 1px solid #888;
}

div.asct-parameter.velocity,
div.asct-parameter.duration,
div.asct-parameter.custom {
  /*overflow: hidden;*/
  /*animation: slide-open 1s;*/
}

@keyframes slide-open {
  0% { max-width: 0px; }
  100% { max-width: 99px; }
}

div.asct-parameter.frequency,
div.asct-parameter.command {
  color: darkred;
}
div.asct-parameter.program {
  color: darkblue;
}
div.asct-parameter.duration {
  color: purple;
}
div.asct-parameter.velocity {
  color: green;
}

div.asct-parameter.command,
div.asct-parameter.velocity,
div.asct-parameter.duration,
div.asct-parameter.custom {
  /*overflow: hidden;*/
  margin: 0;
}



/*asc-track > div.selection-rect {*/
/*    z-index: 99;*/
/*    position: fixed;*/
/*    border: 1px outset #00F;*/
/*    border-radius: 4px;*/
/*    background-color: #00F4;*/
/*    box-shadow:  1px 1px 4px #777;*/
/*}*/
