
/** ASCTrack Instruction **/

div.asct-instruction-add,
div.asct-instruction {
  display: flex;
  /*overflow: hidden;*/
  padding: 1px;
  margin: 0;
  color: #666;
  border: 1px outset #EEE;
  border-radius: 4px;
  background-color: #CCC;
}

div.asct-instruction-add {
  /*transition: opacity 0.25s;*/
  padding: 1px 4px;
}

div.asct-instruction:last-child {
  margin-right: 0;
}


/*div.asct-instruction-add,*/
div.asct-instruction.selected {
  background-color: white;
}

div.asc-track.selected div.asct-instruction-add,
div.asc-track.selected div.asct-instruction.selected {
  font-weight: bold;
  /*max-width: 1000px;*/
  box-shadow: #6b6b6b 0 0px 3px;
  /*z-index: 1;*/
}

div.asc-track.selected div.asct-instruction-add,
div.asc-track.selected div.asct-instruction.cursor {
  border-color: red;
  box-shadow: darkred 0 0 4px;
  position: relative;
  /*z-index: 2;*/
}


/** Playing **/
div.asct-instruction.playing {
  font-weight: bold;
  background-color: #80d55c;
}
