audio-source-editor {
    color: #000;
    background-color: #bdc3c7;
    display: block;
    /* font-size: 14px; */
    /* line-height: 16px; */
    font-family: monospace;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
}

/** Colors **/
audio-source-editor table,
audio-source-editor a,
audio-source-editor {
    color: #000;
}


/** Inputs **/

audio-source-editor .input-style,
audio-source-editor input:not([type=checkbox]):not([type=radio]):not([type=range]),
audio-source-editor select,
audio-source-editor button{
    padding: 2px 4px;
    border: 1px outset #FFF;
    border-radius: 2px;
    font-size: smaller;
    /* max-width: 200px; */
}


audio-source-editor input[type='range'] {
    -webkit-appearance: none;
    background-color: #AAA;
    border-radius: 15px;
    height: 10px;
    margin: 5px;
}
audio-source-editor input[type='range']::-webkit-slider-thumb {
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: #444;
    width: 16px;
    height: 16px;
    border-radius: 16px;
}





/** Editor Menu **/
audio-source-editor ul.editor-menu {
    display: table;
    /*overflow: hidden;*/
    /* min-height: 22px; */
}
audio-source-editor ul.editor-menu > li {
    /* float: left; */
    display: table-cell;
}


audio-source-editor ul.editor-menu,
audio-source-editor ul.submenu {
    /*display: block;*/
    /* border: 1px solid grey; */
    /* background-color: #BBB; */
    color: black;
    padding: 0 0;
    margin: 0 0;
    list-style-type: none;
    /*overflow: hidden;*/
    /* width: 100%; */
}

/** Drop Down Menu **/
audio-source-editor ul.submenu {
    z-index: 98;
    /*display: none;*/
    /* display: none; */
    display: inline-block;
    position: absolute;
    /*left: -800px;*/
    border: 1px solid grey;
    background-color: #bdc3c7;
    /* position: absolute; */
    opacity: 0;
    margin: 0 -0.3em -0.3em -0.3em;
    padding: 0 0.3em 0.3em 0.3em;
    /*max-height: 0px;*/
    transition: all 0.1s 0.2s ease-in;
    border-radius: 2px;
    white-space: nowrap;
    transform: scaleY(0);
    /*overflow: hidden;*/
    /* min-width: 200px; */
}

/** Drop Down Trigger **/
audio-source-editor ul.submenu.open,
audio-source-editor li:hover > ul.submenu,
audio-source-editor a:focus + ul.submenu {
    z-index: 99;
    /*left: 0;*/
    transform: scaleY(1);
    opacity: 1;
    /*max-height: 800px;*/
    transition: all 0.1s 0.2s ease-out;
    /*transition: max-height 1s, opacity 0.3s;*/
    /*transition: max-height 2s;*/
}

/** Menu Styling **/
audio-source-editor ul.editor-menu > li,
audio-source-editor ul.editor-menu ul.submenu > li {
    padding: 5px 8px;
}
audio-source-editor ul.editor-menu > li > a,
audio-source-editor ul.editor-menu ul.submenu > li > a {
    vertical-align: top;
    display: inline-block;
    /*padding: 5px 8px;*/
    /* position: relative; */
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
}



audio-source-editor ul.editor-menu > li:hover,
audio-source-editor ul.submenu > li:hover {
    background-color: #AAA;
}

audio-source-editor ul.editor-menu > li > * {
    /*white-space: nowrap;*/
}

/** Disabled Menu **/
audio-source-editor ul.editor-menu .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


/** Menu Break **/

audio-source-editor ul.editor-menu hr {
    margin: 4px 0;
    border: 1px #666 solid;
}


audio-source-editor .editor-menu:not(.show-no-instruction-controls) .no-instruction-controls,
audio-source-editor .editor-menu:not(.show-control-note-modify) .control-note-modify {
/*audio-source-editor .editor-menu:not(.show-control-note-insert) .control-note-insert {*/
    display: none;
}


/** Context Menu **/

audio-source-editor ul.editor-context-menu {
    /* border: 1px solid grey; */
    /*background-color: #BBB;*/
    /*color: black;*/
    /*position: fixed;*/
    /*display: none;*/

    transition: all 0s;
}
audio-source-editor ul.editor-context-menu.open-context-menu {
    display: block;
    position: fixed;
    z-index: 99;
}

/** Generic Forms **/

audio-source-editor form {
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

/** Editor Forms **/

audio-source-editor .editor-forms {
    /*display: flex;*/
    flex-wrap: wrap;
}

/** Form Section **/
audio-source-editor .editor-forms div.form-section-header {
    font-size: small;
    border-bottom: 1px solid #BBB;
    /* text-decoration-color: #AAA; */
    margin-bottom: 1px;
}
audio-source-editor .editor-forms div.form-section:hover div.form-section-header {
    font-weight: bold;
}


/** Form Section **/
audio-source-editor .editor-forms div.form-section {
    background: #DDD;
    /* border: 1px outset #ffffff8a; */
    padding: 6px 8px 2px 6px;
    /*display: inline-block;*/
    vertical-align: middle;
    float: left;
    border: 1px outset #FFF;
    min-height: 40px;
}
audio-source-editor div.form-section-divide {
    float: left;
    /* clear: both; */
}
audio-source-editor div.form-section-divide > form > button {
    width: 21px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}
audio-source-editor div.form-section-divide > form > button > div {
    transform-origin: 16px -2px;
    transform: rotate(90deg);
    width: 50px;
    font-weight: bold;
}

audio-source-editor div.form-section-divide > form.form-control-note-toggle > button {
    height: 90px;
}
audio-source-editor div.form-section-divide > form.form-control-note-toggle > button > div {
    transform-origin: 22px -9px;
}

audio-source-editor .hide-control-song form.form-song-toggle > button,
audio-source-editor .hide-control-note form.form-note-toggle > button,
audio-source-editor .hide-control-grid form.form-grid-toggle > button,
audio-source-editor .hide-control-instrument form.form-control-note-toggle > button {
    border: 1px inset;
}

/** Form Visibility **/

audio-source-editor:not(.playing)   form.show-on-song-playing,
audio-source-editor.playing         form.show-on-song-paused,
audio-source-editor .editor-forms:not(.show-control-note-modify) .control-note-modify,
audio-source-editor .editor-forms:not(.show-control-note-insert) .control-note-insert,
audio-source-editor .editor-forms.hide-control-song .control-song,
audio-source-editor .editor-forms.hide-control-note .control-note,
audio-source-editor .editor-forms.hide-control-grid .control-grid,
audio-source-editor .editor-instruments.hide-control-instrument .control-instrument {
    display: none;
}

audio-source-editor .editor-instruments {
    display: inline-block;
}

/** Form Inputs **/



audio-source-editor .editor-forms div.volume-container {
     /*border: 1px solid #AAA;*/
     /*border-radius: 6px;*/
    /* max-height: 15px; */
}

audio-source-editor .editor-forms input:disabled,
audio-source-editor .editor-forms select:disabled,
audio-source-editor .editor-forms button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/** Form: Group **/
audio-source-editor .editor-forms form.form-group > button {
    /* font-size: small; */
    /* padding: 0px 3px 2px 2px; */
    /* min-width: 18px; */
    /* border-radius: 2px; */
}
audio-source-editor .editor-forms form.form-group > button.new {
    /* color: #444; */
}
audio-source-editor .editor-forms form.form-group > button.selected {
    font-weight: bold;
    border-radius: 2px;
    border: 1px inset #FFF;
}

/** Form Separator **/

audio-source-editor .editor-forms .form-separator {
    height: 0px;
    margin: 0;
}


/** Highlight Key **/

audio-source-editor .editor-forms > li > a > .key,
audio-source-editor .editor-forms ul.submenu-item > .key {
    font-weight: bold;
    text-decoration: underline;
}

/** Form Inputs **/


audio-source-editor .editor-forms > li > input[type=checkbox],
audio-source-editor .editor-forms ul.submenu-item-checkbox {
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    margin: 5px;
    left: -25px;
    position: absolute;
}

/** Song Info Form **/

audio-source-editor .editor-forms form.form-song-volume input[name=volume]      { max-width: 71px; }
audio-source-editor .editor-forms form.form-load-file input[name=file]          { max-width: 96px; }
audio-source-editor .editor-forms form.form-song-version input[name=version]    { max-width: 64px; }
audio-source-editor .editor-forms form.form-song-title input[name=title]        { width: 160px; }

/** Add Instrument Form **/

audio-source-editor .editor-forms form.form-add-instrument select[name=instrument] { min-width: 129px; }


/** Modify Instruction Forms **/

audio-source-editor .editor-forms form.form-instruction-instrument select[name=instrument] {max-width: 120px;}
audio-source-editor .editor-forms form.form-note-command select[name=frequency] { max-width: 42px; }
audio-source-editor .editor-forms form.form-note-command select[name=command] {max-width: 68px;}
audio-source-editor .editor-forms form.form-instruction-duration select[name=duration] {max-width: 69px;}
audio-source-editor .editor-forms form.form-instruction-velocity input[name=velocity] {max-width: 56px;}
audio-source-editor .editor-forms form.form-instruction-delete button[name=delete] {}

/** Grid Render Forms **/

audio-source-editor .editor-forms form.form-render-duration {
    padding-right: 4px;
    float: right;
}
audio-source-editor .editor-forms form.form-render-duration select[name=duration] { min-width: 96px; }
audio-source-editor .editor-forms form.form-render-octave select[name=octave] {max-width: 37px;}
audio-source-editor .editor-forms form.form-render-instrument select[name=instrument] { min-width: 135px; }
audio-source-editor .editor-forms form.form-add-instrument select[name=instrumentURL] {max-width: 68px;}

audio-source-editor .editor-forms form.form-selected-indicies input[name=indicies] {max-width: 55px;}
audio-source-editor .editor-forms form.form-selected-range input[name=rangeStart],
audio-source-editor .editor-forms form.form-selected-range input[name=rangeEnd] {
    max-width: 32px;
}


/** Editor Grid **/




/** Grid **/
audio-source-editor .editor-grid {
    /*width: 100%;*/
    position: relative;
    clear: both;
    max-height: 314px;
    overflow-y: auto;
    overflow-x: hidden;
    /* font-size: 12px; */
}


/** Grid Header **/

audio-source-editor .editor-grid .grid-header {
    min-width: 126px;
}
audio-source-editor .editor-grid .grid-header-pause {
    text-align: center;
    min-width: 44px;
}

/** Grid Row **/

audio-source-editor .editor-grid > div {
    cursor: pointer;
    background-color: #C0C0C0;
    height: 1.45em;
    /* margin: -3px 0px; */
    /* border-top: 1px solid #BBB; */
    position: relative;
    transition: background-color 0.1s ease-out;
    border: 1px outset #FFF;
    /* border-right: 0px solid #888; */
    padding: 0px;
}

audio-source-editor .editor-grid > div:nth-child(odd) {
    background-color: #D0D0D0;
    /* padding: 0; */
    /* margin: 0; */
}

audio-source-editor .editor-grid > div.selected {
    background-color: #ffeedd;
    position: relative;
    box-shadow: #ffeedd 0px 0px 9px;
    z-index: 2;
}
audio-source-editor .editor-grid > div.playing {
    transition: background-color 0s;
    background-color: #609060;
    position: relative;
    box-shadow: #AFA 0px 0px 4px;
    z-index: 1;
}

/** Grid Row Delta **/

audio-source-editor .editor-grid > div > div.delta {
    float: right;
    width: 30px;
    padding: 2px;
    text-align: center;
}

/** Grid Cell **/

audio-source-editor .editor-grid div.instruction {
    /* display: inline-block; */
    float: left;
    overflow: hidden;
    padding: 1px;
    margin: 0;
    color: #666;
    border: solid 1px #666;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
    /* z-index: 1; */
}

audio-source-editor .editor-grid div.instruction.new {
    opacity: 0;
    transition: opacity 0.25s;
    padding: 0 3px;
}
audio-source-editor .editor-grid div.instruction.new.cursor,
audio-source-editor .editor-grid > div.selected div.instruction.new {
    opacity: 1;
}

audio-source-editor .editor-grid div.instruction:last-child {
    margin-right: 0;
}

audio-source-editor .editor-grid div.instruction.playing {
    font-weight: bold;
}


audio-source-editor .editor-grid div.instruction.cursor,
audio-source-editor .editor-grid div.instruction.selected {
    font-weight: bold;
    max-width: 1000px;
    box-shadow: #6b6b6b 0 0px 3px;
    z-index: 2;
    /* position: inherit; */
}
audio-source-editor .editor-grid div.instruction.selected {
    background-color: white;
}

audio-source-editor .editor-grid div.instruction.cursor {
    border-color: red;
    box-shadow: darkred 0 0 12px;
}

/** Grid Cell Parameters **/

audio-source-editor .editor-grid div.instruction > .command,
audio-source-editor .editor-grid div.instruction > .instrument,
audio-source-editor .editor-grid div.instruction > .velocity,
audio-source-editor .editor-grid div.instruction > .duration {
    display: table-cell;
    overflow: hidden;
    vertical-align: top;
    opacity: 1;
    transition: all 0.25s ease-out;
    /* max-width: 0px; */
    padding: 0px;
}

audio-source-editor .editor-grid .grid-parameter:not(:first-child) {
    /* max-width: 40px; */
}

audio-source-editor .editor-grid div.instruction > .command {
    color: darkred;
    /* min-width: 10px; */
    /*max-width: 40px;*/
}
audio-source-editor .editor-grid div.instruction:not(.selected) > .command {
    max-width: 24px;
}

audio-source-editor .editor-grid div.instruction > .instrument {
    color: darkblue;
    max-width: 0px;
}
audio-source-editor .editor-grid div.instruction > .duration {
    color: purple;
    max-width: 0px;
}
audio-source-editor .editor-grid div.instruction > .velocity {
    color: green;
    max-width: 0px;
}
audio-source-editor.show-parameter-instrument div.instruction > .instrument,
audio-source-editor .editor-grid div.instruction.selected > .instrument,
audio-source-editor .editor-grid div.instruction.cursor > .instrument,
audio-source-editor .editor-grid div.instruction.playing > .instrument,

audio-source-editor.show-parameter-duration > .duration,
audio-source-editor .editor-grid div.instruction.selected > .duration,
audio-source-editor .editor-grid div.instruction.cursor > .duration,
audio-source-editor .editor-grid div.instruction.playing > .duration,

audio-source-editor.show-parameter-velocity > .velocity,
audio-source-editor .editor-grid div.instruction.selected > .velocity,
audio-source-editor .editor-grid div.instruction.cursor > .velocity,
audio-source-editor .editor-grid div.instruction.playing > .velocity{
    max-width: 40px;
    border-left: 1px solid #888;
    /*margin: 0px;*/
    /*padding: 0 0 0 3px;*/
    padding: 0px 2px;
}


audio-source-editor .editor-grid .measure-end {
    /* border-bottom: 2px solid #555; */
    /* border-bottom: 1px solid #666; */
}

audio-source-editor .editor-grid div.instruction:not(.selected):not(.playing) .grid-parameter.duration.matches-pause {
    max-width: 0px;
    margin-left: 0px;
    padding-left: 0;
    border-left: 0px;
    opacity: 0;
    transition-delay: 0.25s;
}

audio-source-editor .editor-grid div.instruction-pause {
    /* position: absolute; */
    /* top: 1px; */
    /* right: 5px; */
    color: #500;
    /* z-index: 1; */
    /*opacity: 0.3;*/
}
audio-source-editor .editor-grid div.instruction-pause.duration-large {
    color: #00A;
}
audio-source-editor .editor-grid div.instruction-pause.duration-medium {
    color: #050;
    /* font-size: small; */
}
audio-source-editor .editor-grid div.instruction-pause.duration-small {
    color: #050;
    font-size: smaller;
}
audio-source-editor .editor-grid > div.selected div.instruction-pause {
    opacity: 1;

}

/** Instruments **/

audio-source-editor .editor-instruments .instrument-container {
    float: left;
    /* display: inline-block; */
}

.instrument-container {}