

/** Editor Panels **/

div.asui-panel {
    background-color: #CCC;
    border-radius: 4px;
    vertical-align: top;
    /*display: inline-block;*/
    margin: 1px 3px 1px 1px;
    /*width: 100%;*/

    overflow-x: auto;
}

div.asui-panel > div.header {
    background-color: #333;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 2px 6px 0px 6px;
    margin: 0;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #BBB;
}


div.asui-panel > div.container {
    overflow-y: auto;
    display: flex;
    min-height: 1.4em;
}
