

/** Font styles **/

div.asc-container input,
div.asc-container button,
div.asc-container {
    font-size: large;
}

span.error {
    font-color: red;
    font-weight: bold;
}



/** Container **/
/** Font Style **/
div.asc-container {
    font-family: monospace;
    color: #000;
    background-color: #EEE;
    /* margin-top: -14px; */
    user-select: none;
    /*display: flex;*/
    /*flex-direction: column;*/
}


/** Visibility **/


:host(:not(.playing)) .show-on-playing,
:host(.playing) .hide-on-playing,
:host(.hide-panel-song) asc-panel.song,
:host(.hide-panel-playlist) asc-panel.playlist {
    display: none;
}

/** Header **/




/** Header Container **/

div.asc-header-container {
    background-color: #bdc3c7;
}


/** Portrait Header Container **/

div.asc-header-container.portrait {
}

/** Portrait Menu Items **/
div.asc-header-container.portrait > div.asui-menu-item {
    padding: 0px 8px 0px 4px;
}

/** Title **/




div.asc-title-text {
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    /*background-color: #888;*/
    color: #333;
    padding: 2px;
}

/** Menu Container **/


div.asc-menu-container {
    background-color: #bdc3c7;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 3;
}



/** Portrait Menu Button **/

div.asc-menu-button-toggle {

}

div.asc-menu-button-toggle > div.asui-icon {
    height: 2em;
    width: 2em;
    transition: transform 0.3s ease-out;
}

/*div.asc-menu-button-toggle.stick > div.title > div.asc-icon {*/
/*    transform: rotate(90deg);  TODO*/
/*}*/


div.asui-menu-overlay-dropdown > div.asui-menu-item {
    padding: 0.5em;
}


/** Footer **/

div.asc-status-text {
    padding-left: 4px;
}
div.asc-version-text {
    /* float: right; */
    padding-right: 4px;
    margin-left: auto;
}


/** Status Bar **/
div.asc-footer-container {
    display: flex;
    background-color: #FFF;
    color: #000;
    padding: 0px;
}
