

div.envelope-effect-container {
    display: inline-flex;
    /*min-width: 480px;*/
    text-align: center;
    margin: 2px;

    padding: 1px;
    color: #000;
    border: 1px outset #EEE;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
}

div.envelope-effect-container.open {
    background-color: #FFF;
}

/** Parameters **/
div.envelope-effect-container > div.header,
div.envelope-effect-container > div.parameters {
    display: flex;
}

div.envelope-effect-container > div.header > div,
div.envelope-effect-container > div.parameters > div {
    /*border-left: 1px solid #888;*/
    /*padding-right: 2px;*/
    /*padding-left: 2px;*/
    border-left: 1px solid #888;
    padding-right: 4px;
    padding-left: 4px;
}



/** Hover **/


div.envelope-effect-container > div:hover {
    background: #AAA;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
}
