

div.envelope-effect-container {
    /*display: inline-flex;*/
    /*min-width: 480px;*/
    margin: 2px;

    padding: 1px;
    color: #000;
    border: 1px outset #EEE;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
}
div.envelope-effect-container:not(.open) {
    display: inline-flex;
}

div.envelope-effect-container.open {
    /*display: inline-flex;*/
    background-color: #FFF;
}

/** Toggle **/
div.envelope-effect-container > div.toggle {
    display: flex;
    cursor: pointer;
    border-radius: 4px;
}

div.envelope-effect-container.open > div.toggle {
    border: inset #FFF 1px;
    background: #AAA;
}

div.envelope-effect-container:hover > div.toggle {
    background: #BBB;
}



/** Parameters **/
div.envelope-effect-container > div.parameters {
    text-align: center;
    display: inline-flex;
}

div.envelope-effect-container > div.parameters > div {
    /*border-left: 1px solid #888;*/
    /*padding-right: 2px;*/
    /*padding-left: 2px;*/
    border-left: 1px solid #888;
    padding-right: 4px;
    padding-left: 4px;
}

/** Voice **/

div.envelope-effect-container.open > div.voice {
    /*float: right;*/
}


/** Hover **/


div.envelope-effect-container > div:hover {
    background: #AAA;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
}
