

div.envelope-effect-container {
    /*display: inline-flex;*/
    /*min-width: 480px;*/
    /*margin: 2px;*/

    /*padding: 1px;*/
    /*color: #000;*/
    /*border: 1px outset #EEE;*/
    /*border-radius: 4px;*/
    /*background-color: #CCC;*/
    /*position: relative;*/
}
div.envelope-effect-container:not(.open) {
    /*display: inline-flex;*/
}

div.envelope-effect-container.open {
    /*display: inline-flex;*/
    background-color: #FFF;
}

/** Header **/
div.envelope-effect-container > div.header {
    display: flex;
}

div.envelope-effect-container > div.header > div.toggle-container {
    flex-basis: 100%;
}


/** Parameters **/
div.envelope-effect-container > div.parameters {
    text-align: center;
    display: flex;
}

div.envelope-effect-container > div.parameters > div {
    /*border-left: 1px solid #888;*/
    /*padding-right: 2px;*/
    /*padding-left: 2px;*/
    /*border-left: 1px solid #888;*/
    padding-right: 4px;
    padding-left: 4px;
}

/** Voice **/

div.envelope-effect-container.open > div.voice {
    /*float: right;*/
}


/** Hover **/


div.envelope-effect-container > div:hover {
    background: #AAA;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
}
