asc-tracker > asui-div[key=tracker-header] > asui-div[key=delta] {
    float: left;
    padding: 2px;
}

/** Tracker Row Delta **/

asct-delta {
    padding: 2px;
    color: #500;
    margin-right: 4px;
    width: 36px;
    text-align: right;
}
