
/** Tracker **/

/*div.asc-tracker-container {*/
/*    flex: 1 1 auto;*/
/*}*/
/*:host(.fullscreen) asui-div.asc-container {*/
/*    height: 100%;*/
/*}*/




/** Tracker **/
div.asc-tracker {
    position: relative;
    /* height: 100%; */
    /*overflow: auto;*/
    vertical-align: top;
    display: inline-block;
}
div.asc-tracker:not(.selected) > div.title {
    background-color: #777;
}
div.asc-tracker:not(.selected) {
    color: #777;
}




:host(:not(.fullscreen)) div.asc-tracker {
    /* max-height: 700px; */
    /* margin-bottom: auto; */
}
:host(.fullscreen) div.asc-tracker {
    /*height: 700px;*/
}

/** Tracker Header **/


div.asc-tracker > div.asui-panel {
    display: block;
    min-width: 126px;

    /*background-color: #333;*/
    /*color: #FFF;*/
}
div.asc-tracker > div.asui-panel > div.title {
    text-align: center;
}
div.asc-tracker > div.asui-panel > div.title > div.delta {
    float: left;
}

div.asc-tracker .tracker-header-pause {
    text-align: center;
    min-width: 44px;
}

