

div.instrument-renderer-oscillator-node {
    display: inline-flex;
    /*min-width: 480px;*/
    text-align: center;
    margin: 2px;

    padding: 1px;
    color: #000;
    border: 1px outset #EEE;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
}

div.instrument-renderer-oscillator-node > div {
    border-left: 1px solid #888;
    padding-right: 2px;
    padding-left: 2px;
}

div.instrument-renderer-oscillator-node.open > div.title {
    /*border: 1px solid #FFF;*/
    border: 1px inset;
    border-bottom-width: 0px;
    background: linear-gradient(#ccc, #aaa);
    /*font-weight: bold;*/
}

div.instrument-renderer-oscillator-node > div.title {
    /*color: darkred;*/
    border-left: 0px;
    transition: max-width 0.5s;
    /*padding-right: 2px;*/
    padding-left: 0px;
}

div.instrument-renderer-oscillator-node:not(.open) > div.title {
    max-width: 30vw;
    overflow: hidden;
}

div.instrument-renderer-oscillator-node > div.sample:not(.open) > div.name {
    max-width: 10vw;
}

div.instrument-renderer-oscillator-node > div.name { color: #1E2526; }
div.instrument-renderer-oscillator-node > div.root { color: #692a6a; }
div.instrument-renderer-oscillator-node > div.loop { color: cornflowerblue; }
div.instrument-renderer-oscillator-node > div.range { color: #92303a; }
div.instrument-renderer-oscillator-node > div.mixer { color: green; }
div.instrument-renderer-oscillator-node > div.detune { color: darkred; }
div.instrument-renderer-oscillator-node > div.alias { color: #385049; }

div.instrument-renderer-oscillator-node > div.root,
div.instrument-renderer-oscillator-node > div.loop,
div.instrument-renderer-oscillator-node > div.range,
div.instrument-renderer-oscillator-node > div.mixer,
div.instrument-renderer-oscillator-node > div.detune,
div.instrument-renderer-oscillator-node > div.alias,
div.instrument-renderer-oscillator-node > div.config {
    /*border-left: 1px solid #888;*/
    /*padding-right: 2px;*/
    /*padding-left: 2px;*/
}


div.instrument-renderer-oscillator-node > div:hover {
    background: #AAA;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
}
