
/** Menu Item **/

div.asui-menu-item {
    color: #777;
    /*z-index: 4;*/
    /*position: relative;*/
    /*color: black;*/
    /*min-width: 1em;*/
    /*min-height: 1em;*/
    transition: background-color 0.3s;

    /*z-index: 4;*/
    display: flex;
    /*color: black;*/
    padding: 0 0;
    margin: 0 0;
    /*white-space: nowrap;*/

    cursor: default;

}

/** Action & DropDown **/

div.asui-menu-item.dropdown,
div.asui-menu-item.action {
    cursor: pointer;
    color: #000;
}

div.asui-menu-item.dropdown:not(.open) > div.asui-menu-dropdown {
    /*display: none;*/
}

/** Selected **/
div.asui-menu-item.selected {
    background-color: #AAA;
}

/** Hover **/
/*div.asui-menu-item.open,*/
div.asui-menu-item:hover {
    background-color: #999;
}

/** Disabled Menu **/
div.asui-menu-item.disabled {
    /*opacity: 0.5;*/
    color: #777;
    cursor: not-allowed;
}

/** Menu Stick **/
div.asui-menu-item.stick {
    background-color: #999;
}




/** Menu Arrow **/
div.asui-menu-item > div.arrow {
    display: inline-block;
    font-size: small;
    margin: 2px 2px 0 auto;
    padding-left: 0.5em;
}




