button.asui-input-text,
div.asui-input-text {
  background: none;
  border: none;
  padding: 6px 6px;
  font-size: 22px;
}

button.asui-input-text {
  cursor: text;
  padding-top: 5px;
}

div.asui-input-text {
  //cursor: text;
}
