
/** ASCTrack **/

/*div.asct-container {*/
/*    flex: 1 1 auto;*/
/*}*/
/*:host(.fullscreen) asui-div.asc-container {*/
/*    height: 100%;*/
/*}*/

div.asct-container {
    /*max-height: 80vh;*/
    /*overflow-y: auto;*/
}



/** ASCTrack **/
div.asc-track {
    position: relative;
    /* height: 100%; */
    /*overflow: auto;*/
    vertical-align: top;
    display: inline-block;
    /*min-width: 30vw;*/
}
div.asc-track:not(.selected) > div.header {
    background-color: #777;
}
div.asc-track:not(.selected) {
    color: #777;
}




:host(:not(.fullscreen)) div.asc-track {
    /* max-height: 700px; */
    /* margin-bottom: auto; */
}
:host(.fullscreen) div.asc-track {
    /*height: 700px;*/
}

/** ASCTrack Header **/


div.asc-track > div.asui-panel {
    display: block;
    min-width: 126px;

    /*background-color: #333;*/
    /*color: #FFF;*/
}
div.asc-track > div.asui-panel > div.header {
    /*text-align: center;*/
}




/** ASCTrack Segments **/

div.asct-segments,
div.asct-options {
    display: flex;
}

div.asct-options > div.row-length,
div.asct-segments > div.row-quantization {
    margin-left: auto;
}
