div.asc-preset-browser {
    display: inline-block;
    background: #DDD;
    border: 1px outset #FFF;
    padding: 2px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
}

div.asc-preset-browser > div.list {
    display: flex;
    flex-direction: column;
}

div.asc-preset-browser > div.list > div {
    background-color: #bdbdbd;
    padding: 4px;
    margin: 1px;
    border-radius: 4px;
    max-width: 30vw;
}

