div.asc-preset-browser {
    font-size: smaller;
    display: inline-block;
    background: #DDD;
    border: 1px outset #FFF;
    padding: 2px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    /*flex-basis: 100%;*/
}

div.asc-preset-browser > div.library-list,
div.asc-preset-browser > div.preset-list {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*max-height: 50vw;*/
}

div.asc-preset-browser > div.library-list > div,
div.asc-preset-browser > div.preset-list > div {
    border: #EEE outset 1px;
    background-color: #CCC;
    padding: 4px;
    margin: 1px;
    border-radius: 4px;
    max-width: 200px;
}
div.asc-preset-browser > div.library-list > div.selected ,
div.asc-preset-browser > div.preset-list > div.selected {
    border: #CCC inset 1px;
    background-color: #CAA;
}

div.asc-preset-browser > div.library-list > div.loading ,
div.asc-preset-browser > div.preset-list > div.loading {
    background: linear-gradient(-45deg, #96e76bFF, #e73c7e66, #23a6d500, #23d5ab66 );
    background-size: 400% 400%;
    animation: gradientBG 5s ease infinite;
}


div.asc-preset-browser > div.library-list > div {
    background-color: #938dc2;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
