
/** Menu **/

div.asui-menu-item {
    /*z-index: 4;*/
    position: relative;
    /*color: black;*/
    cursor: pointer;
    /*min-width: 1em;*/
    /*min-height: 1em;*/
    transition: background-color 0.3s;

    /*z-index: 4;*/
    display: flex;
    /*color: black;*/
    padding: 0 0;
    margin: 0 0;
    white-space: nowrap;

}


/** Hover **/
div.asui-menu-item:hover {
    background-color: #AAA;
}

/** Disabled Menu **/
div.asui-menu-item.disabled {
    /*opacity: 0.5;*/
    color: #777;
    cursor: not-allowed;
}

/** Menu Stick **/
div.asui-menu-item.stick {
    background-color: #999;
}




/** Menu Arrow **/
div.asui-menu-item > div.arrow {
    display: inline-block;
    font-size: small;
    margin: 2px 2px 0 auto;
    padding-left: 0.5em;
}








/** Menu Break **/

hr.asui-menu-break {
    margin: 0px;
    border-top: 1px #666 solid;
}

/** Context Menu **/


div.asui-menu-item[context]:not([open]) {
    display: none;
}
div.asui-menu-item[context] {
    position: absolute;
    z-index: 4;
    background-color: #bdc3c7;
}


