
div.asui-button {
    display: inline-flex;
    cursor: pointer;

    padding: 0 0.4em;
    background: linear-gradient(#f6f6f6, #dddddd);
    border: 1px outset;
}

div.asui-button:hover {
    background: linear-gradient(#ddd, #bbb);
}

div.asui-button.stick {
    background: linear-gradient(#ccc, #aaa);
}
