
/** Menu **/

div.asui-menu-item {
    display: flex;
    position: relative;
    /*color: black;*/
    padding: 0 0;
    margin: 0 0;
    cursor: pointer;
    white-space: nowrap;
    /*min-width: 1em;*/
    /*min-height: 1em;*/
    transition: background-color 0.3s;

}


/** Hover **/
div.asui-menu-item:hover {
    background-color: #AAA;
}

/** Disabled Menu **/
div.asui-menu-item.disabled {
    /*opacity: 0.5;*/
    color: #777;
    cursor: not-allowed;
}

/** Menu Stick **/
div.asui-menu-item.stick {
    background-color: #999;
}




/** Menu Arrow **/
div.asui-menu-item > div.arrow {
    display: inline-block;
    font-size: small;
    margin: 2px 2px 0 auto;
    padding-left: 0.5em;
}


/** Drop Down Menu **/

div.asui-menu-dropdown-container {
    position: relative;
}

div.asui-menu-dropdown > div.asui-menu-item {
    padding: 4px;
    border: 1px outset #FFF;
}

div.asui-menu-dropdown {
    background-color: #bdc3c7;
    /* display: inline-block; */
    z-index: 3;
    position: absolute;
    left: 100%;
    top: 0;
    border: 1px solid grey;
    text-align: left;
    transition: opacity 0.2s;
}

div.asui-menu-dropdown:hover {
    z-index: 4;
}

div.asui-menu-dropdown.vertical {
    left: 0;
    top: 100%;
}









/** Menu Break **/

hr.asui-menu-break {
    margin: 0px;
    border-top: 1px #666 solid;
}

/** Context Menu **/


div.asui-menu-item[context]:not([open]) {
    display: none;
}
div.asui-menu-item[context] {
    position: absolute;
    z-index: 4;
    background-color: #bdc3c7;
}


