div.asui-menu-overlay-container {
    cursor: pointer;
    position: absolute;
    background-color: #bdc3c744;
    width: 100%;
    height: 100%;
    z-index: 2;
}


div.asui-menu-overlay-dropdown {
    background-color: #bdc3c7;
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
    /*transition: transform 0.3s ease-out;*/
    /*transform: translate(-100%);*/

    min-width: 20vw;
    min-height: 100vw;
    animation: menuSlideIn 0.2s ease-out;
}


div.asui-menu-overlay-dropdown.open {
    /*transform: translate(0%);*/

}

div.asui-menu-overlay-dropdown > div.asui-menu-item {
    padding: 0.7em;
}


@keyframes menuSlideIn {
    from {
        transform: translate(-100%);
        opacity: 0;
        background: #5470B0;
    }
}
