

/** Tracker Groups Panels **/

div.tracker-row-segments-panel {
}

div.tracker-row-segments-panel > button {
    border: 1px outset #FFF;
    padding: 4px 12px;
    margin: 0px 0px;
    background-color: #DDD;
}
