

div.oscillatornode-instrument-renderer {
    display: inline-flex;
    /*min-width: 480px;*/
    text-align: center;
    margin: 2px;

    padding: 1px;
    color: #666;
    border: solid 1px #666;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
}
div.oscillatornode-instrument-renderer.open {
    background-color: #AAA;
}

div.oscillatornode-instrument-renderer > div.name {
    max-width: 30vw;
    overflow: hidden;
    transition: max-width 0.5s;
    padding-right: 2px;
}

div.oscillatornode-instrument-renderer > div.sample:not(.open) > div.name {
    max-width: 10vw;
}

div.oscillatornode-instrument-renderer > div.name { color: #1E2526; }
div.oscillatornode-instrument-renderer > div.root { color: #692a6a; }
div.oscillatornode-instrument-renderer > div.loop { color: #980c12; }
div.oscillatornode-instrument-renderer > div.range { color: #92303a; }
div.oscillatornode-instrument-renderer > div.mixer { color: #2e3a07; }
div.oscillatornode-instrument-renderer > div.detune { color: #1e543c; }
div.oscillatornode-instrument-renderer > div.alias { color: #385049; }

div.oscillatornode-instrument-renderer > div.root,
div.oscillatornode-instrument-renderer > div.loop,
div.oscillatornode-instrument-renderer > div.range,
div.oscillatornode-instrument-renderer > div.mixer,
div.oscillatornode-instrument-renderer > div.detune,
div.oscillatornode-instrument-renderer > div.alias,
div.oscillatornode-instrument-renderer > div.config {
    border-left: 1px solid #888;
    padding-right: 2px;
    padding-left: 2px;
}


div.oscillatornode-instrument-renderer > div:hover {
    background: #AAA;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
}
