

audio-source-synthesizer {
    background: #DDD;
    border: 1px outset #FFF;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    vertical-align: top;
    /*max-height: 24px;*/
    /*overflow: hidden;*/
    /*transition-property: all;*/
    /*transition-duration: 1s;*/
    /*transition-timing-function: ease-in-out;*/
}
/*audio-source-synthesizer.selected  {*/
/*    max-height: 80em;*/
/*    overflow: auto;*/
/*    border: 1px inset;*/
/*}*/


audio-source-synthesizer > asui-div[key=title] {
    /* font-size: smaller; */
    border-bottom: 1px solid #AAA;
    margin-bottom: 1px;
    cursor: pointer;
    padding: 2px 3px;
    display: flex;
    /* background-color: #CCC; */
}


audio-source-synthesizer  asuig-row[key=header] {
    /* font-weight: bold; */
    text-align: center;
    /* text-decoration: underline; */
    border-bottom: 1px solid #BBB;
}


/** Inputs **/
audio-source-synthesizer  asui-input-button[key=instrument-id]   button {
    border: 1px outset;
    padding: 0px 2px;
}

audio-source-synthesizer  asui-input-select[key=instrument-preset]               {
    /* float:  right; */
    /* margin-top: 0px; */
    /* font-size: smaller; */
    margin-left: auto;
}
audio-source-synthesizer  asui-input-button[key=instrument-remove]               {
    float:  right;
    margin: 0px 0px 0px 0px;
}

audio-source-synthesizer  asui-input-text[key=name]        input       {width: 90px;}
audio-source-synthesizer  asui-input-select[key=url]       select      {width: 107px;}
audio-source-synthesizer  asui-input-range[key=mixer]      input      {width: 40px;}
audio-source-synthesizer  asui-input-range[key=detune]     input      {width: 40px;}
audio-source-synthesizer  asui-input-select[key=root]      select      {width: 48px;}
audio-source-synthesizer  asui-input-select[key=alias]     select      {width: 48px;}
audio-source-synthesizer  asui-input-text[key=adsr]        input      {width: 60px;}

audio-source-synthesizer  asui-input-select[key=instrument-preset]       select      { width: 120px; }


/** Sample Grid **/
audio-source-synthesizer asui-grid[key=samples] {
    min-width: 480px;
    text-align: center;
    margin: 5px;
    border: 1px solid #AAA;
    /* border-radius: 4px; */
    /* border-right: 1px #777 solid; */
    background: #CCC;
    /* box-shadow: 1px 1px 0px #999; */
}
