/** Colors **/
.audio-source-synthesizer-container {
    font-size: smaller;
}


.audio-source-synthesizer-container  asuig-row[key=header] {
    font-weight: bold;
    text-align: center;
}


/** Inputs **/
.audio-source-synthesizer-container  asui-input-button[key=instrument-id]   button {
    border: 1px outset;
    padding: 0px 2px;
}
.audio-source-synthesizer-container.selected  asui-input-button[key=instrument-id]   button {
    border: 1px inset;
}

.audio-source-synthesizer-container  asui-input-select[key=instrument-preset]               {
    float:  right;
}
.audio-source-synthesizer-container  asui-input-button[key=instrument-remove]               {
    float:  right;
    margin: 0px 0px 0px 0px;
}

.audio-source-synthesizer-container  asui-input-text[key=name]        input       {width: 90px;}
.audio-source-synthesizer-container  asui-input-select[key=url]       select      {width: 107px;}
.audio-source-synthesizer-container  asui-input-range[key=mixer]      input      {width: 40px;}
.audio-source-synthesizer-container  asui-input-range[key=detune]     input      {width: 40px;}
.audio-source-synthesizer-container  asui-input-select[key=root]      select      {width: 48px;}
.audio-source-synthesizer-container  asui-input-select[key=alias]     select      {width: 48px;}
.audio-source-synthesizer-container  asui-input-text[key=adsr]        input      {width: 60px;}

.audio-source-synthesizer-container  asui-input-select[key=instrument-preset]       select      { width: 120px; }


/** Size **/
.audio-source-synthesizer-container {
    max-height: 80em;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.audio-source-synthesizer-container:not(.selected):not(.focus) {
    max-height: 24px;
    overflow: hidden;
}

.audio-source-synthesizer-container:not(.selected):not(.focus) > *:not(.show-on-focus) {
    /* min-width: 100px; */
}



/** Sample Grid **/
.audio-source-synthesizer-container asui-grid[key=samples] {
    min-width: 480px;
    text-align: center;
}
