
div.audio-source-synthesizer-container div.header > div.title {
    margin-left: 4px;
}
div.audio-source-synthesizer-container div.instrument-config {
    margin: 2px;
}

div.audio-source-synthesizer-container div.instrument-preset {
    margin-left: auto;
}




div.audio-source-synthesizer-container {
    background: #DDD;
    border: 1px outset #FFF;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    vertical-align: top;
    min-width: 24em;
    /*max-height: 24px;*/
    /*overflow: hidden;*/
    /*transition-property: all;*/
    /*transition-duration: 1s;*/
    /*transition-timing-function: ease-in-out;*/
}


div.audio-source-synthesizer-container.active {
    background: #AAD;
}
/*div.audio-source-synthesizer-container.selected  {*/
/*    max-height: 80em;*/
/*    overflow: auto;*/
/*    border: 1px inset;*/
/*}*/


div.audio-source-synthesizer-container > div.header {
    /* font-size: smaller; */
    border-bottom: 1px solid #AAA;
    margin-bottom: 1px;
    padding: 2px 3px;
    display: flex;
    /* background-color: #CCC; */
}

/*div.audio-source-synthesizer-container > div.header > div.title {*/
/*    cursor: pointer;*/
/*}*/
/*div.audio-source-synthesizer-container > div.header > div.title:hover {*/
/*    background-color: #AAA;*/
/*}*/


div.audio-source-synthesizer-container > div.samples > div.header {
    display: flex;
    flex-direction: row;

    /*justify-content: space-between;*/
    /* font-weight: bold; */
    text-align: center;
    /* text-decoration: underline; */
    border-bottom: 1px solid #BBB;
}

div.audio-source-synthesizer-container > div.samples > div.header > div{
    flex-direction: column;
    flex: 1;
}

/** Inputs **/
div.audio-source-synthesizer-container  asui-input-button.instrument-id   button {
    border: 1px outset;
    padding: 0px 2px;
}

div.audio-source-synthesizer-container  asui-input-select.instrument-preset               {
    margin-left: auto;
}
div.audio-source-synthesizer-container  asui-input-button.instrument-remove               {
    float:  right;
    margin: 0px 0px 0px 0px;
}

div.audio-source-synthesizer-container  asui-input-text.name        input       {width: 90px;}
div.audio-source-synthesizer-container  asui-input-select.url       select      {width: 107px;}
div.audio-source-synthesizer-container  asui-input-range.mixer      input      {width: 40px;}
div.audio-source-synthesizer-container  asui-input-range.detune     input      {width: 40px;}
div.audio-source-synthesizer-container  asui-input-select.root      select      {width: 48px;}
div.audio-source-synthesizer-container  asui-input-select.alias     select      {width: 48px;}
div.audio-source-synthesizer-container  asui-input-text.adsr        input      {width: 60px;}

div.audio-source-synthesizer-container  asui-input-select.instrument-preset       select      { width: 120px; }


/** Sample Grid **/
div.audio-source-synthesizer-container asui-grid.samples {
    min-width: 480px;
    text-align: center;
    margin: 5px;
    border: 1px solid #AAA;
    /* border-radius: 4px; */
    /* border-right: 1px #777 solid; */
    background: #CCCA;
    /* box-shadow: 1px 1px 0px #999; */
}
