

/** Divisor Elements **/

asui-div  {
    display: block;
    /* vertical-align: top; */
    /* flex-grow: 1; */
}



/** Form Inputs **/

asui-div.themed {
    background: #DDD;
    border: 1px outset #FFF;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
}

asui-div .input-style,
asui-div input.themed,
asui-div select.themed,
asui-div button.themed {
    /* display: inline-block; */
    padding: 0px 0px;
    /* border-radius: 2px; */
    /* transition: all 0.2s; */
    border: 0px outset transparent;
    background: transparent;
    cursor: pointer;
    /* height: 24px; */
}

asui-div .input-style:hover,
asui-div input[type=text].themed:hover,
asui-div select.themed:hover,
asui-div button.themed:hover,
asui-div .input-style:focus,
asui-div input[type=text].themed:focus,
asui-div select.themed:focus,
asui-div button.themed:focus {
    background: #FFF;
}

asui-div input.themed[type=number],
asui-div input.themed[type=text] {
    padding-left: 5px;
}
asui-div .button-style,
asui-div button.themed {
    display: block;
}


asui-div input.themed[type='range'] {
    -webkit-appearance: none;
    background-color: #AAA;
    border-radius: 15px;
    height: 2px;
    margin: 6.5px;
}
asui-div input.themed[type='range']::-webkit-slider-thumb {
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: #444;
    width: 6px;
    height: 12px;
    border-radius: 4px;
}



/** Disabled Inputs **/

asui-div  input:disabled,
asui-div  select:disabled,
asui-div  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/** Grid **/

asui-grid {
    display: table;
    border-collapse: collapse;
}

asuig-row {
    display: table-row;
}

asuig-row > * {
    display: table-cell;
    vertical-align: top;
}

/** Text **/

asui-text {
    /* display: inline-block; */
}

/** Editor Inputs **/

asui-input-button,
asui-input-select,
asui-input-range,
asui-input-text,
asui-input-file {
    /*display: inline-block; !** TODO: bad idea **!*/
    vertical-align: top;
    /* height: 24px; */
}

asui-input-button,
asui-input-file  {
     /* height: 24px; */
     display: inline-block;
}

asui-input-select > asui-div[key=dropdown-container] {
    /*display: none;*/
    position: absolute;
    overflow: hidden;
}
asui-input-select > asui-div[key=dropdown-container] > asui-menu {
    display: block;
}


/** Group Buttons **/

/** Icons **/

asui-icon {
    /* font-size: 24px; */
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 0px;
    margin: 3px 3px;
    background: url("../../assets/img/ui-icons.png");
    background-size: 10em 5em;
    transform: scale(2);
}
asui-icon.play { background-position: -3em -1em; }
asui-icon.pause {background-position: -4em -1em;}
asui-icon.stop {background-position: -5em -1em;}
asui-icon.resume { background-position: -3em -1em; }
asui-icon.next { background-position: 3em -1em; }

asui-icon.insert {background-position: -3em -10em;}
asui-icon.remove {background-position: -6em 0em;}
asui-icon.subtract {background-position: -4em 0em;}
asui-icon.delete {background-position: -4em 0em;}

asui-icon.file-load {background-position: 0em 0em;}
asui-icon.file-save {background-position: -1em 0em;}

asui-icon.config {background-position: 0em 3em;}





/** Menu **/


asui-menu {
    position: relative;
    color: black;
    padding: 0 0;
    margin: 0 0;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
}

asui-menu.selected {
    background-color: #AAA;
}

asui-div[key=dropdown] > asui-menu {
    display: flex;
    padding: 3px 0px;
}


/** Menu Text **/
asui-menu > *:first-child {
    display: inline-block;
}
asui-menu > asui-div[key=title] {
    padding: 0px 6px;
    overflow: hidden;
}
asui-menu > asui-div[key=arrow] {
    margin: 0 6px 0 auto;
    display: inline-block;
}

/*asui-menu[arrow]:after {*/
/*    content: ' ►';*/
/*    margin: 0 6px 0 auto;*/
/*}*/
/*asui-menu[arrow][vertical] > asui-div[key=title]:after {*/
/*    content: ' ▼';*/
/*}*/

asui-menu:hover {
    background-color: #AAA;
}
asui-menu[stick] {
    /*transition: background-color 0.3s;*/
    background-color: #888;
}


asui-menu span.arrow {
    padding: 4px;
}
asui-menu span.arrow:after {
    content: '►';
}


/** Drop Down Menu **/

asui-menu > asui-div[key=dropdown] {
    background-color: #bdc3c7;
    /* display: inline-block; */
    z-index: 3;
    /* flex-direction: column; */
    position: absolute;
    left: 100%;
    /* border-radius: 2px; */
    /*transition: all 0.1s 0.2s ease-in;*/
    /*transform: scaleY(0);*/
    /*opacity: 0;*/
    border: 1px solid grey;
    text-align: left;
    opacity: 0;
    transition: opacity 0.2s;
    /* max-height: 50%; */
    /* overflow-y: scroll; */
    /* overflow: auto; */
}
asui-menu[open] > asui-div[key=dropdown] {
    opacity: 1;
}
asui-input-select[vertical] > asui-menu > asui-div[key=dropdown],
asui-menu[vertical] > asui-div[key=dropdown] {
    left: 0;
    /*display: block;*/
    /* float: right; */
}



/** Disabled Menu **/
asui-menu[disabled] {
    opacity: 0.5;
    color: #777;
    cursor: not-allowed;
}





/** Menu Break **/

asui-menu[hasbreak] {
    margin-bottom: 2px;
    border-bottom: 2px #666 solid;
}


