
/** Container **/
div.audiobuffer-instrument-container  {
    margin: 2px;
    padding: 4px;
    color: #000;
    border: 1px outset #FFF;
    border-radius: 4px;
    background-color: #90d4ef;
    position: relative;
}

/** Status **/
div.audiobuffer-instrument-container.loading {
    animation: loadingBG 1s infinite alternate ease-out;
    cursor: progress;
}
@keyframes loadingBG {
    100% { background-color: #AAA; }
}
div.audiobuffer-instrument-container.playing {
    background-color: #8ee081;
    border: 1px inset #44ff00;
}


div.audiobuffer-instrument-container.error {
    background-color: #AAA;
}

/** Header **/
div.audiobuffer-instrument-container > div.header {
    display: flex;
}
div.audiobuffer-instrument-container > div.header > .toggle-container {
    flex-basis: 100%;
    padding-right: 4px;
}

/** Parameters **/
div.audiobuffer-instrument-container > div.parameters {
    margin: 0;
    padding: 2px;
    /*border-radius: 0 0 4px 4px;*/
    /*border: 1px inset #EEE;*/
    /*border-top-width: 0px;*/
    /*background-color: #CCC;*/
    animation: slideDownOpen 0.4s ease-in;
}
div.audiobuffer-instrument-container > div.parameters > div:hover {
    font-weight: bold;
}

div.audiobuffer-instrument-container > div.parameters > div {
    /*border-bottom: 1px solid #AAA;*/
    /*display: flex;*/
}
div.audiobuffer-instrument-container > div.parameters > div > div {
    display: inline-block;
    vertical-align: middle;
}
div.audiobuffer-instrument-container > div.parameters > div > div.label {
    font-size: small;
    min-width: 64px;
}
div.audiobuffer-instrument-container > div.parameters > div > div.label:after {
    content: ':';
}

/** Hover **/


div.audiobuffer-instrument-container > div:hover {
    /*background: #AAA;*/
    /*color: #000;*/
    /*cursor: pointer;*/
    /*border-radius: 4px;*/
}

/** Transition **/


@keyframes slideDownOpen {
    0% {
        max-height: 0;
        overflow-y: hidden;
    }
    99% {
        max-height: 300px;
    }
    100% {
        max-height: inherit;
        overflow-y: inherit;
    }
}
