
.asc-container {
    /*flex-wrap: wrap;*/
    flex-flow: column;
    height: 100%;
    font-family: monospace;
    color: #000;
    background-color: #bdc3c7;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
}

@media only screen and (min-width: 1000px) {
    .asc-container {
        display: flex;
    }
}



/** Full Screen **/
audio-source-composer.fullscreen {
    position: absolute;
    /* display: flex; */
    /* flex-flow: column; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/** Tracker **/

.asc-container.fullscreen asc-tracker {
    flex: 1 1 auto;
}




/** Menu **/


asc-menu {
    color: black;
    /* background-color: #bdc3c7; */
    padding: 0 0;
    margin: 0 0;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
}

.dropdown-container > asc-menu {
    display: block;
}


/** Menu Text **/
asc-menu > div.caption {
    padding: 3px 6px;
    display: inline-block;
}

asc-menu:hover {
    background-color: #AAA;
}
asc-menu.stick {
    transition: background-color 0.3s;
    background-color: #888;
}


asc-menu span.arrow {
    padding: 4px;
}
asc-menu span.arrow:after {
    content: '►';
}

asc-menu div.caption > input[type=checkbox] {
    vertical-align: text-top;
}

/** Drop Down Menu **/


asc-menu > .dropdown-container {
     background-color: #bdc3c7;
    display: block;
    /* display: flex; */
    z-index: 3;
    flex-direction: column;
    position: absolute;
    border-radius: 2px;
    /*transition: all 0.1s 0.2s ease-in;*/
    transform: scaleY(0);
    opacity: 0;

    border: 1px solid grey;
}

/** Drop Down Trigger **/
asc-menu.open > .dropdown-container {
    z-index: 5;
    /*left: 0;*/
    transform: scaleY(1);
    opacity: 1;
}
asc-menu.stick > .dropdown-container {
    z-index: 4;
}

.dropdown-container > asc-menu > .dropdown-container {
    display: inline-block;
}


/** Disabled Menu **/
asc-menu[disabled] {
    /*opacity: 0.5;*/
    color: #777;
    cursor: not-allowed;
}


/** Menu Break **/

asc-menu > hr {
    margin: 4px 0;
    border: 1px #666 solid;
}





/** Context Menu **/

asc-menu.open-context-menu > .dropdown-container {
    display: block;
    position: fixed;
    z-index: 99;
    transition: all 0s;
}











/** Generic Forms **/

.asc-container form {
    margin: 0;
    display: inline-block;
}

/** Editor Forms **/

/** Form Section **/
.asc-container .form-section-header {
    font-size: small;
    border-bottom: 1px solid #BBB;
    /* text-decoration-color: #AAA; */
    margin-bottom: 1px;
    cursor: pointer;
}
.asc-container .form-section:hover div.form-section-header {
    font-weight: bold;
}


.asc-container .form-section-container {
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.asc-container .form-section-container > form,
.asc-container .form-section {
    padding: 4px 6px;
    /* vertical-align: middle; */
    /* min-height: 40px; */
}

.asc-container .form-section,
.asc-container .form-section-container > form,
.asc-container .form-section-divide {
    background: #DDD;
    border: 1px outset #FFF;
}

/** Form Section Divide **/

.asc-container .form-section-divide {
    font-weight: bold;
    text-align: center;
    padding: 6px 2px;
    width: 100%;
}

.asc-container .form-section-divide > span {
    font-size: 11px;

}

@media only screen and (min-width: 1000px) {
    .asc-container .form-section-divide {
        width: 12px;
        writing-mode: vertical-rl;
    }
}

.asc-container.hide-forms-song .form-section-container-song,
.asc-container.hide-forms-tracker .form-section-container-tracker,
.asc-container.hide-forms-instruments .form-section-container-instruments {
    display: none;
}

/** Form Visibility **/


/** Form Inputs **/

.asc-container .input-style,
.asc-container input:not([type=checkbox]):not([type=radio]):not([type=range]),
.asc-container select,
.asc-container button{
    padding: 2px 4px;
    border: 1px outset #FFF;
    border-radius: 2px;
    font-size: x-small;
    /* max-width: 200px; */
}


.asc-container input[type='range'] {
    -webkit-appearance: none;
    background-color: #AAA;
    border-radius: 15px;
    height: 10px;
    margin: 5px;
}
.asc-container input[type='range']::-webkit-slider-thumb {
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: #444;
    width: 16px;
    height: 16px;
    border-radius: 16px;
}


.asc-container input[type=checkbox] {
    /* vertical-align: text-top; */
    /* width: 16px; */
    /* height: 16px; */
    /* margin: 5px; */
    /* left: -25px; */
    /* position: absolute; */
}

.asc-container .volume-container {
     /*border: 1px solid #AAA;*/
     /*border-radius: 6px;*/
    /* max-height: 15px; */
}

/** Disabled Inputs **/

.asc-container  input:disabled,
.asc-container  select:disabled,
.asc-container  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/** Group Buttons **/

.asc-container  form.form-group > button.selected {
    font-weight: bold;
    border-radius: 2px;
    border: 1px inset #FFF;
}





/** Song Info Form **/

.asc-container  form.form-song-volume input[name=volume]                    { max-width: 71px; }
.asc-container  form.form-load-file input[name=file]                        { max-width: 96px; }
.asc-container  form.form-song-version input[name=version]                  { max-width: 64px; }
.asc-container  form.form-song-title input[name=title]                      { width: 160px; }

/** Add Instrument Form **/

.asc-container  form.form-add-instrument                                    {/* height: 54px; */}
.asc-container  form.form-add-instrument select[name=instrumentURL]            {min-width: 129px;/* padding: 1em; */}


/** Modify Instruction Forms **/

.asc-container  form.form-instruction-instrument select[name=instrument]    { max-width: 120px;}
.asc-container  form.form-instruction-command select[name=frequency]        { max-width: 42px; }
.asc-container  form.form-instruction-command select[name=command]          { max-width: 68px;}
.asc-container  form.form-instruction-duration select[name=duration]        { max-width: 69px;}
.asc-container  form.form-instruction-velocity input[name=velocity]         { max-width: 56px;}
.asc-container  form.form-instruction-delete button[name=delete]            {}

/** Tracker Render Forms **/

.asc-container  form.form-render-duration select[name=duration]             { min-width: 96px; }
.asc-container  form.form-render-octave select[name=octave]                 { max-width: 37px;}
.asc-container  form.form-render-instrument select[name=instrument]         { min-width: 135px; }
.asc-container  form.form-add-instrument select[name=instrumentURL]         { max-width: 68px;}

.asc-container  form.form-selected-indicies input[name=indicies]            { max-width: 103px;}
.asc-container  form.form-selected-range input[name=rangeStart],
.asc-container  form.form-selected-range input[name=rangeEnd]               { max-width: 32px; }




/** Editor Tracker **/



/** Tracker **/
asc-tracker {
    display: block;
    position: relative;
    overflow-y: auto;
    /* flex-grow: 1; */
    /* max-height: 66%; */
}

@media only screen and (max-width: 1000px) {
    .asc-container asc-tracker {
         max-height: 66%;
    }
}

/** Tracker Header **/

asc-tracker .tracker-header {
    min-width: 126px;
}
asc-tracker .tracker-header-pause {
    text-align: center;
    min-width: 44px;
}

/** Tracker Row **/

asct-row {
    display: flex;
    cursor: pointer;
    background-color: #C0C0C0;
    height: 1.45em;
    /* margin: -3px 0px; */
    /* border-top: 1px solid #BBB; */
    position: relative;
    transition: background-color 0.1s ease-out;
    border: 1px outset #FFF;
    /* border-right: 0px solid #888; */
    padding: 0px;
}

asct-row.break {
    border-top: 1px solid #000;
}
asct-row:nth-child(odd) {
    background-color: #D0D0D0;
    /* padding: 0; */
    /* margin: 0; */
}

asct-row.selected {
    background-color: #ffeedd;
    position: relative;
    box-shadow: #ffeedd 0px 0px 9px;
    z-index: 2;
}
asct-row.playing {
    transition: background-color 0s;
    background-color: #609060;
    position: relative;
    box-shadow: #AFA 0px 0px 4px;
    z-index: 1;
}

/** Tracker Row Delta **/

asct-delta {
    /* width: 30px; */
    padding: 2px;
    color: #500;
    /* text-align: left; */
}
asct-row > asct-delta {
    margin-left: auto;
}


/** Tracker Cell **/

asct-instruction-add,
asct-instruction {
    display: flex;
    /* float: left; */
    overflow: hidden;
    padding: 1px;
    margin: 0;
    color: #666;
    border: solid 1px #666;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
    /* z-index: 1; */
}

asct-instruction-add {
    /*transition: opacity 0.25s;*/
    padding: 1px 4px;
}

asct-instruction:last-child {
    margin-right: 0;
}

asct-instruction.playing {
    font-weight: bold;
}


asct-instruction-add,
asct-instruction.cursor,
asct-instruction.selected {
    font-weight: bold;
    max-width: 1000px;
    box-shadow: #6b6b6b 0 0px 3px;
    z-index: 2;
    /* position: inherit; */
}
asct-instruction.playing {
    background-color: #80d55c;
}

asct-instruction-add.cursor,
asct-instruction.selected {
    background-color: white;
}


asct-instruction-add.cursor,
asct-instruction.cursor {
    border-color: red;
    box-shadow: darkred 0 0 12px;
}

/** Tracker Cell Parameters **/

ascti-command,
ascti-instrument,
ascti-velocity,
ascti-duration {
    overflow: hidden;
    transition: all 0.25s ease-out;
}


ascti-command {
    color: darkred;
}
asct-instruction:not(.selected) > ascti-command {
    max-width: 24px;
}

ascti-instrument {
    color: darkblue;
    max-width: 0px;
}
ascti-duration {
    color: purple;
    max-width: 0px;
}
ascti-velocity {
    color: green;
    max-width: 0px;
}
asct-instruction.selected > ascti-instrument,
asct-instruction.cursor > ascti-instrument,

asct-instruction.selected > ascti-duration,
asct-instruction.cursor > ascti-duration,

asct-instruction.selected > ascti-velocity,
asct-instruction.cursor > ascti-velocity {
    max-width: 40px;
    border-left: 1px solid #888;
    /*margin: 0px;*/
    /*padding: 0 0 0 3px;*/
    padding: 0px 2px;
}





/** Instruments **/


.asc-container .composer-instruments {
    display: inline-block;
}


.asc-container .form-instruments-container {
    /* display: flex; */
}

.asc-container .composer-instruments .instrument-container {
    float: left;
    /* display: inline-block; */
}

.instrument-container {
    display: inline-block;
}

