.asc-container {
    color: #000;
    background-color: #bdc3c7;
    display: block;
    /* font-size: 14px; */
    /* line-height: 16px; */
    font-family: monospace;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
}

/** Full Screen **/
audio-source-composer.fullscreen {
    position: fixed;
    /* display: flex; */
    /* flex-flow: column; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/** Grid **/
.asc-container.fullscreen .composer-controls {
    /* flex: 0 1 auto; */
}
.asc-container.fullscreen asc-grid {
    flex: 1 1 auto;
}


/** Colors **/
.asc-container table,
.asc-container a,
.asc-container {
    /* color: #000; */
}


/** Inputs **/

.asc-container .input-style,
.asc-container input:not([type=checkbox]):not([type=radio]):not([type=range]),
.asc-container select,
.asc-container button{
    padding: 2px 4px;
    border: 1px outset #FFF;
    border-radius: 2px;
    font-size: x-small;
    /* max-width: 200px; */
}


.asc-container input[type='range'] {
    -webkit-appearance: none;
    background-color: #AAA;
    border-radius: 15px;
    height: 10px;
    margin: 5px;
}
.asc-container input[type='range']::-webkit-slider-thumb {
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: #444;
    width: 16px;
    height: 16px;
    border-radius: 16px;
}





/** Editor Menu **/
asc-menu ul.menu {
    display: table;
    /*overflow: hidden;*/
    /* min-height: 22px; */
}
asc-menu ul.menu > li {
    /* float: left; */
    display: table-cell;
}


asc-menu ul.menu,
.asc-container ul.submenu {
    /*display: block;*/
    /* border: 1px solid grey; */
    /* background-color: #BBB; */
    color: black;
    padding: 0 0;
    margin: 0 0;
    list-style-type: none;
    /*overflow: hidden;*/
    /* width: 100%; */
}

/** Drop Down Menu **/
.asc-container ul.submenu {
    z-index: 98;
    /*display: none;*/
    /* display: none; */
    display: inline-block;
    position: absolute;
    /*left: -800px;*/
    border: 1px solid grey;
    background-color: #bdc3c7;
    /* position: absolute; */
    opacity: 0;
    margin: 0 -0.3em -0.3em -0.3em;
    padding: 0 0.3em 0.3em 0.3em;
    /*max-height: 0px;*/
    transition: all 0.1s 0.2s ease-in;
    border-radius: 2px;
    white-space: nowrap;
    transform: scaleY(0);
    /*overflow: hidden;*/
    /* min-width: 200px; */
}

/** Drop Down Trigger **/
.asc-container ul.submenu.open,
.asc-container li:hover > ul.submenu,
.asc-container a:focus + ul.submenu {
    z-index: 99;
    /*left: 0;*/
    transform: scaleY(1);
    opacity: 1;
    /*max-height: 800px;*/
    transition: all 0.1s 0.2s ease-out;
    /*transition: max-height 1s, opacity 0.3s;*/
    /*transition: max-height 2s;*/
}

/** Menu Styling **/
asc-menu ul.menu > li,
asc-menu ul.menu ul.submenu > li {
    padding: 5px 8px;
}
asc-menu ul.menu > li > a,
asc-menu ul.menu ul.submenu > li > a {
    vertical-align: top;
    display: inline-block;
    /*padding: 5px 8px;*/
    /* position: relative; */
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
}



asc-menu ul.menu > li:hover,
.asc-container ul.submenu > li:hover {
    background-color: #AAA;
}

asc-menu ul.menu > li > * {
    /*white-space: nowrap;*/
}

/** Disabled Menu **/
asc-menu ul.menu .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


/** Menu Break **/

asc-menu ul.menu hr {
    margin: 4px 0;
    border: 1px #666 solid;
}


asc-menu:not(.show-no-instruction-controls) .no-instruction-controls,
asc-menu:not(.show-control-grid-modify) .control-grid-modify {
/*asc-menu:not(.show-control-grid-insert) .control-grid-insert {*/
    display: none;
}


/** Context Menu **/

.asc-container ul.composer-context-menu {
    /* border: 1px solid grey; */
    /*background-color: #BBB;*/
    /*color: black;*/
    /*position: fixed;*/
    /*display: none;*/

    transition: all 0s;
}
.asc-container ul.composer-context-menu.open-context-menu {
    display: block;
    position: fixed;
    z-index: 99;
}

/** Generic Forms **/

.asc-container form {
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

/** Editor Forms **/

.asc-container  {
    /*display: flex;*/
    flex-wrap: wrap;
}

/** Form Section **/
.asc-container .form-section-header {
    font-size: small;
    border-bottom: 1px solid #BBB;
    /* text-decoration-color: #AAA; */
    margin-bottom: 1px;
}
.asc-container .form-section:hover div.form-section-header {
    font-weight: bold;
}


/** Form Section **/
.asc-container .form-section-container {
    display: flex;
}

.asc-container .form-section-container > form,
.asc-container .form-section {
    background: #DDD;
    /* border: 1px outset #ffffff8a; */
    padding: 6px 8px 2px 6px;
    /*display: inline-block;*/
    vertical-align: middle;
    /* float: left; */
    border: 1px outset #FFF;
    min-height: 40px;
}
.asc-container .form-section-divide {
    float: left;
    /* clear: both; */
}
.asc-container .form-section-divide > form > button {
    width: 25px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}
.asc-container .form-section-divide > form > button > div {
    transform-origin: 16px -2px;
    transform: rotate(90deg);
    width: 50px;
    font-weight: bold;
}

.asc-container .form-section-divide > form.form-control-grid-toggle > button {
    height: 90px;
}
.asc-container .form-section-divide > form.form-control-grid-toggle > button > div {
    transform-origin: 22px -9px;
}

.asc-container .hide-control-song form.form-song-toggle > button,
.asc-container .hide-control-grid form.form-note-toggle > button,
.asc-container .hide-control-grid form.form-grid-toggle > button,
.asc-container .hide-control-instrument form.form-control-grid-toggle > button {
    border: 1px inset;
}

/** Form Visibility **/

.asc-container:not(.playing)   form.show-on-song-playing,
.asc-container.playing         form.show-on-song-paused,
.asc-container:not(.show-control-grid-modify) .control-grid-modify,
.asc-container:not(.show-control-grid-insert) .control-grid-insert,
.asc-container .hide-control-song .control-song,
.asc-container .hide-control-grid .control-grid,
.asc-container .hide-control-grid .control-grid,
.asc-container .composer-instruments.hide-control-instrument .control-instrument {
    display: none;
}

.asc-container .composer-instruments {
    display: inline-block;
}

/** Form Inputs **/



.asc-container .volume-container {
     /*border: 1px solid #AAA;*/
     /*border-radius: 6px;*/
    /* max-height: 15px; */
}

.asc-container  input:disabled,
.asc-container  select:disabled,
.asc-container  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/** Form: Group **/
.asc-container  form.form-group > button {
    /* font-size: small; */
    /* padding: 0px 3px 2px 2px; */
    /* min-width: 18px; */
    /* border-radius: 2px; */
}
.asc-container  form.form-group > button.new {
    /* color: #444; */
}
.asc-container  form.form-group > button.selected {
    font-weight: bold;
    border-radius: 2px;
    border: 1px inset #FFF;
}

/** Form Separator **/

.asc-container  .form-separator {
    height: 0px;
    margin: 0;
}


/** Highlight Key **/

.asc-container  > li > a > .key,
.asc-container  ul.submenu-item > .key {
    font-weight: bold;
    text-decoration: underline;
}

/** Form Inputs **/


.asc-container  > li > input[type=checkbox],
.asc-container  ul.submenu-item-checkbox {
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    margin: 5px;
    left: -25px;
    position: absolute;
}

/** Song Info Form **/

.asc-container  form.form-song-volume input[name=volume]      { max-width: 71px; }
.asc-container  form.form-load-file input[name=file]          { max-width: 96px; }
.asc-container  form.form-song-version input[name=version]    { max-width: 64px; }
.asc-container  form.form-song-title input[name=title]        { width: 160px; }

/** Add Instrument Form **/

.asc-container  form.form-add-instrument select[name=instrument] { min-width: 129px; }


/** Modify Instruction Forms **/

.asc-container  form.form-instruction-instrument select[name=instrument] {max-width: 120px;}
.asc-container  form.form-note-command select[name=frequency] { max-width: 42px; }
.asc-container  form.form-note-command select[name=command] {max-width: 68px;}
.asc-container  form.form-instruction-duration select[name=duration] {max-width: 69px;}
.asc-container  form.form-instruction-velocity input[name=velocity] {max-width: 56px;}
.asc-container  form.form-instruction-delete button[name=delete] {}

/** Grid Render Forms **/

.asc-container  form.form-render-duration {
    padding-right: 4px;
    float: right;
}
.asc-container  form.form-render-duration select[name=duration] { min-width: 96px; }
.asc-container  form.form-render-octave select[name=octave] {max-width: 37px;}
.asc-container  form.form-render-instrument select[name=instrument] { min-width: 135px; }
.asc-container  form.form-add-instrument select[name=instrumentURL] {max-width: 68px;}

.asc-container  form.form-selected-indicies input[name=indicies] {max-width: 55px;}
.asc-container  form.form-selected-range input[name=rangeStart],
.asc-container  form.form-selected-range input[name=rangeEnd] {
    max-width: 32px;
}




/** Editor Grid **/



/** Grid **/
asc-grid {
    display: block;
    /* position: relative; */
}

asc-grid .grid-scroll-container {
    position: relative;
    /* flex-flow: column; */
    /*width: 100%;*/
    /* position: relative; */
    /* clear: both; */
    max-height: 69%;
    overflow-y: auto;
    /* overflow-x: hidden; */
}


/** Grid Header **/

asc-grid .grid-header {
    min-width: 126px;
}
asc-grid .grid-header-pause {
    text-align: center;
    min-width: 44px;
}

/** Grid Row **/

ascg-row {
    display: flex;
    cursor: pointer;
    background-color: #C0C0C0;
    height: 1.45em;
    /* margin: -3px 0px; */
    /* border-top: 1px solid #BBB; */
    position: relative;
    transition: background-color 0.1s ease-out;
    border: 1px outset #FFF;
    /* border-right: 0px solid #888; */
    padding: 0px;
}

ascg-row:nth-child(odd) {
    background-color: #D0D0D0;
    /* padding: 0; */
    /* margin: 0; */
}

ascg-row.selected {
    background-color: #ffeedd;
    position: relative;
    box-shadow: #ffeedd 0px 0px 9px;
    z-index: 2;
}
ascg-row.playing {
    transition: background-color 0s;
    background-color: #609060;
    position: relative;
    box-shadow: #AFA 0px 0px 4px;
    z-index: 1;
}

/** Grid Row Delta **/

ascg-delta {
    /* width: 30px; */
    padding: 2px;
    /* text-align: left; */
}
ascg-row > ascg-delta {
    margin-left: auto;
}

/** Grid Cell **/

ascg-instruction-add,
ascg-instruction {
    display: flex;
    /* float: left; */
    overflow: hidden;
    padding: 1px;
    margin: 0;
    color: #666;
    border: solid 1px #666;
    border-radius: 4px;
    background-color: #CCC;
    position: relative;
    /* z-index: 1; */
}

ascg-instruction-add {
    /*transition: opacity 0.25s;*/
    padding: 1px 4px;
}
/*ascg-instruction-add.cursor,*/
/*ascg-row.selected div.instruction-add {*/
/*    opacity: 1;*/
/*}*/

ascg-instruction:last-child {
    margin-right: 0;
}

ascg-instruction.playing {
    font-weight: bold;
}


ascg-instruction-add,
ascg-instruction.cursor,
ascg-instruction.selected {
    font-weight: bold;
    max-width: 1000px;
    box-shadow: #6b6b6b 0 0px 3px;
    z-index: 2;
    /* position: inherit; */
}
ascg-instruction.playing {
    background-color: #80d55c;
}

ascg-instruction-add.selected,
ascg-instruction.selected {
    background-color: white;
}


ascg-instruction-add.cursor,
ascg-instruction.cursor {
    border-color: red;
    box-shadow: darkred 0 0 12px;
}

/** Grid Cell Parameters **/

ascgi-command,
ascgi-instrument,
ascgi-velocity,
ascgi-duration {
    /* display: inline-block; */
    overflow: hidden;
    /*vertical-align: top;*/
    /*opacity: 1;*/
    transition: all 0.25s ease-out;
    /* max-width: 0px; */
    /*padding: 0px;*/
}


ascgi-command {
    color: darkred;
    /* min-width: 10px; */
    /*max-width: 40px;*/
}
ascg-instruction:not(.selected) > ascgi-command {
    max-width: 24px;
}

ascgi-instrument {
    color: darkblue;
    max-width: 0px;
}
ascgi-duration {
    color: purple;
    max-width: 0px;
}
ascgi-velocity {
    color: green;
    max-width: 0px;
}
/*.asc-container.show-parameter-instrument div.instruction > .instrument,*/
ascg-instruction.selected > ascgi-instrument,
ascg-instruction.cursor > ascgi-instrument,
/*ascg-instruction.playing > .instrument,*/

/*.asc-container.show-parameter-duration > .duration,*/
ascg-instruction.selected > ascgi-duration,
ascg-instruction.cursor > ascgi-duration,
/*ascg-instruction.playing > .duration,*/

/*.asc-container.show-parameter-velocity > .velocity,*/
ascg-instruction.selected > ascgi-velocity,
ascg-instruction.cursor > ascgi-velocity {
/*ascg-instruction.playing > .velocity*/
    max-width: 40px;
    border-left: 1px solid #888;
    /*margin: 0px;*/
    /*padding: 0 0 0 3px;*/
    padding: 0px 2px;
}


asc-grid .measure-end {
    /* border-bottom: 2px solid #555; */
    /* border-bottom: 1px solid #666; */
}

ascg-instruction:not(.selected):not(.playing) .grid-parameter.duration.matches-pause {
    max-width: 0px;
    margin-left: 0px;
    padding-left: 0;
    border-left: 0px;
    opacity: 0;
    transition-delay: 0.25s;
}

ascg-delta {
    /* position: absolute; */
    /* top: 1px; */
    /* right: 5px; */
    color: #500;
    /* z-index: 1; */
    /*opacity: 0.3;*/
}
ascg-delta.duration-large {
    color: #00A;
}
ascg-delta.duration-medium {
    color: #050;
    /* font-size: small; */
}
ascg-delta.duration-small {
    color: #050;
    font-size: smaller;
}



/** Instruments **/

.asc-container .composer-instruments .instrument-container {
    float: left;
    /* display: inline-block; */
}

.instrument-container {}

