
div.asui-button {
    min-height: 20px;
    /*z-index: 3;*/
    padding: 0 2px;
    margin: 0 0;
    /*position: relative;*/
    display: inline-flex;
    align-items: center;
    /*justify-content: center;*/
    /*cursor: pointer;*/
    white-space: nowrap;

    background: linear-gradient(#f6f6f6, #dddddd);
    border: 1px outset #EEE;
}

div.asui-button:hover {
    background: linear-gradient(#ddd, #bbb);
}

div.asui-button.selected,
div.asui-button.stick {
    background: linear-gradient(#ccc, #aaa);
    border: 1px inset;
}
div.asui-button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


/** Styles **/
div.asui-button.wide {
    padding: 0 6px;
}
div.asui-button.small {
    font-size: small;
}

/** Menu Arrow **/
div.asui-button > div.arrow {
    display: inline-block;
    font-size: small;
    margin: 2px 2px 0 auto;
    padding-left: 0.5em;
}
